[2017-07-17 09:36] ronaldtse opened #1 "Implement commands"
`rvc list` lists out all configured VPNs
`rvc connect` connects all configured VPNs that are `preferred` (according to `rvc list`)
`rvc connect <VPN name>` where name is given in `rvc list`
`rvc kill --all` kills all VPN connections
`rvc kill <VPN name>` kills a single VPN connection in a similar fashion like #3
`rvc status` shows the status of all VPN connections (connected and not connected)
`rv

[2017-07-17 09:42] jjr840430 commented on #1
@ronaldtse
From my suggestion, I'm going to develop the following components:
- rvcd daemon
This daemon will be run as root privilege and managed by launchd.
It has the following functions:

- rvc script
This script will be run as user privilege and work with the commands mentioned above.

[2017-07-17 09:49] ronaldtse commented on #1
@jjr840430 this structure sounds good!

cc @erikbor

[2017-07-17 09:54] erikbor commented on #1
Yup lets do it!

[2017-07-18 07:02] erikbor commented on #1
@jjr840430
Can you describe the 'rvcd' in detail please?
And in which language will you write 'rvcd'?

[2017-07-18 07:09] jjr840430 commented on #1
rvcd will run as launchd daemon on mac os and write in C language.

Will have the following modules:
1. Command processor module
This module will listen on Unix domain socket and get commands from shell script to manage VPN connections.
The commands may be composed by JSON format.

2. VPN connection management module
This module will up/down VPN connections and get the status of them.

[2017-07-19 10:00] jjr840430 opened #4 "Follow checking secure coding"
Example link:
https://www.securecoding.cert.org/confluence/display/c/FIO03-C.+Do+not+make+assumptions+about+fopen()+and+file+creation

[2017-07-19 10:01] jjr840430 opened #5 "Added m4 for checking json-c"
#3

[2017-07-28 08:58] #5 closed

[2017-08-02 04:56] ronaldtse opened #9 "Utilize OpenVPN management interface"
OpenVPN supports a management interface that can be used with TCP / telnet.

See https://community.openvpn.net/openvpn/wiki/HOWTO#Usingthemanagementinterface

And https://github.com/OpenVPN/openvpn/blob/master/doc/management-notes.txt

We could use this to implement status showing and connection toggling.

[2017-08-02 05:30] jjr840430 commented on #9
@ronaldtse It was already implemented on rvcd side. :)

[2017-08-02 05:31] ronaldtse commented on #9
Nice 👍

[2017-08-02 05:31] #9 closed

[2017-08-02 05:32] ronaldtse commented on #1
@jjr840430 @erikbor

I have added a number of JSON command outputs ( #10 ), please see if they are appropriate and change/improve them if necessary. Thanks!

[2017-08-02 07:44] jjr840430 opened #11 "RVC configuration file location"
From README, then configuration file for RVC is located in ~/.setup/vpn/vpn.json.

@ronaldtse , What about placing it into /Application/rvc.app/Contents/Resources/config/ directory?

[2017-08-02 08:15] ronaldtse commented on #11
We would want to place the configuration file in a user editable place, but the /Application path is not accessible.

[2017-08-02 08:20] jjr840430 commented on #11
But UI may write it into Applications/ directory.
Since rvcd is running as daemon mode with root privilege, it couldn't know the configuration path at startup.

[2017-08-02 09:22] ronaldtse commented on #11
Hmm... We could hard code it into some path? We could technically have separate a "system-wide config" and "user-specific" configs.

[2017-08-02 09:37] jjr840430 commented on #11
Is it possible to specify configuration at run-time?
I'm not sure how UI loads and saves configuration.

[2017-08-02 09:51] jjr840430 commented on #11
@ronaldtse Can you check my opinion for configuration settings?

The management for configuration may be done by only core level.
The scenario is as the followings:

- Core will start the configuration with one in /Applications/rvc.app folder
- If user is going to add VPN connection, then it sends "add-connection" command to core.
- If user is going to remove VPN connection, then it sends 'remove-

[2017-08-09 01:41] ronaldtse opened #13 "Documentation for RVCD"

[2017-08-09 01:42] ronaldtse opened #14 "Implement `rvc` CLI"

[2017-08-18 04:14] erikbor opened #17 "rvc -l hangs after disconnecting using rvc -d all"
I start rvcd with a valid json configuration file:

[code]

So far so good, in another terminal I will execute rvc with '-l':

[code]

Now in the server terminal I see:
[code]
Which is also good.

Now I send a disconnect for all (even though there is no active connection):
[code]

The server shows:
[code]

After this rvc just hangs when doing a '-l':
[code]

[2017-08-18 04:16] erikbor commented on #17
And the rvcd also hangs btw (even CTRL-C does not help):

[code]

[2017-08-18 04:22] erikbor opened #18 "rvcd does not pick up changes in .setup/vpn/vpn.json"
[code]

In another terminal:
[code]

In that terminal I add another connection in ```/Users/test/.setup/vpn/vpn.json```:
[code]
I saved it but rvcd does not pick up the changes

[2017-08-18 04:25] erikbor opened #19 "autoconnect gets ignored"
[code]

```stagingfoobar.baz``` has autconnect set to true, but ```rvc -l``` shows otherwise:

[code]

[2017-08-18 04:29] erikbor opened #20 "stopping a single connected connection causes rvcd to exit too"
[code]

Server terminal:
[code]

[2017-08-18 04:44] erikbor opened #21 "rvcd (root process) follows symlinks for its log files and is therefor able to overwrite any root owned file"
Terminal 1:

[code]

Now start rvcd:
[code]

Now go back to the other terminal and you can observe that /tmp/root.bin has been overwritten:

[code]

[2017-08-18 04:53] ronaldtse opened #22 "Add CI tests"
We can test this on Travis and also on our own Jenkins:

- Setup OpenVPN (via `brew`)
- Connect to self OpenVPN
- test `rvc` commands and check OpenVPN status

[2017-08-18 06:25] erikbor opened #23 "rvcd (root process) allows for directory traversal in its configuration file"
Terminal 1:
[code]

Terminal 2:
[code]
Pay close attention to:
[code]

Now a new file appeared in /var/spool:
Terminal 1:
[code]

[2017-08-18 06:39] erikbor opened #24 "some typos"
```rvcd.c:211:		fprintf(stderr, "Please run as root privilege\n");```
```rvcd.c:211:		fprintf(stderr, "Please run as root\n");```

```rvcd.c:238:		fprintf(stderr, "The rvcd process is already running with PID %d. Existing...\n", pid);```
```rvcd.c:238:		fprintf(stderr, "The rvcd process is already running with PID %d. Exiting...\n", pid);```

```rvcd_console.c:189:		fprintf(stderr, "Could't connec

[2017-08-18 06:43] erikbor opened #25 "rvcd follows symlinks for its pid file"
Terminal 1:
[code]

Terminal 2:
[code]

Terminal 1:
[code]

[2017-08-18 06:48] erikbor commented on #24
```rvcd_console.c:106:		"\t\t-j\t\t\t\tprint result using JSON format\n"```
```rvcd_console.c:106:		"\t\t-j\t\t\t\tprint output in JSON\n"```

[2017-08-18 06:49] erikbor opened #26 "remove usage indentation"
[code]

Can you please remove the double \t for indentation of the options?

[2017-08-18 06:51] erikbor commented on #24
```rvcd_console.c:103:		"\t\t-c [all|connection name]\tconnect to VPN server with given name\n"```
```rvcd_console.c:103:		"\t\t-c [all|connection name]\tconnect to a VPN with given name\n"```

```rvcd_console.c:104:		"\t\t-d [all|connection name]\tdisconnect from VPN server with given name\n"```
```rvcd_console.c:104:		"\t\t-d [all|connection name]\tdisconnect from VPN with given name\n"```

[2017-08-18 07:00] erikbor commented on #24
```cmd.c:105:	{RVCD_RESP_CONN_NOT_FOUND, "Not found connection"},```
```cmd.c:105:	{RVCD_RESP_CONN_NOT_FOUND, "Connection not found"},```

```cmd.c:60			RVCD_DEBUG_ERR("CMD: Could not create UNIX domain socket(err:%d)", errno);```
```cmd.c:60			RVCD_DEBUG_ERR("CMD: Couldn't create UNIX domain socket (err:%d)", errno);```

```cmd.c:74			RVCD_DEBUG_ERR("CMD: Could not bind on unix domain socket '%s'

[2017-08-18 08:07] erikbor opened #27 "implementation request: disable 'up-script' and 'down-script' options by default"
@jjr840430 can you please implement a cmd line switch for rvcd that enables the 'up-script' and 'down-script' options and disable (ignores) these options by default?

I'd like to prevent any local compromises by malicious .ovpn/.json files and put the responsibility to the user to enable these options him/herself.

Thanks

[2017-08-18 08:12] erikbor opened #28 "verbose message when connecting to all"
rvc -c now returns 'code 0' but we'd like a little bit more verbosity :)

[code]

Can you display something like this: (showing only connections that are triggered to "connecting")
[code]

And in case of no VPNs (or all VPNs are already connected) something like:

[code]

[2017-08-18 08:22] ronaldtse commented on #28
Updated expected response 😉

[2017-08-18 09:07] #24 closed

[2017-08-20 07:32] jjr840430 commented on #25
fixed by #30

[2017-08-20 07:32] #25 closed

[2017-08-20 07:38] jjr840430 commented on #26
fixed by #29

[2017-08-20 07:38] #26 closed

[2017-08-20 08:16] jjr840430 commented on #17
Fixed on #31

[2017-08-20 08:17] #17 closed

[2017-08-20 08:47] jjr840430 commented on #21
fixed on #32

[2017-08-20 08:50] #21 closed

[2017-08-20 08:58] jjr840430 commented on #20
fixed on #31

[2017-08-20 08:58] #20 closed

[2017-08-20 14:08] jjr840430 commented on #23
Fixed on https://github.com/riboseinc/rvc/commit/f981913d8ad81c7e2471d672918b776d217dc514

[2017-08-20 14:08] #23 closed

[2017-08-20 14:13] jjr840430 commented on #19
@erikbor
The configuration file should have the following line to specify auto-connect field.

` "autoconnect": true or false (not "true" or "false")`

[2017-08-20 14:25] jjr840430 commented on #19
Fixed on #33

[2017-08-20 14:36] jjr840430 commented on #18
@erikbor
I think that it needs to add/remove VPN connections using rvc utility without modifying the configuration file directly.
i.e. We may add the following options into rvc utility.

rvc -a {JSON connection info}
rvc -r <connection name>

What do you think about that thoughts?

[2017-08-20 14:55] #14 closed

[2017-08-20 14:55] #13 closed

[2017-08-20 14:56] #1 closed

[2017-08-21 02:06] erikbor opened #34 "make 'rvc -s' use 'all' by default"
Please show the status of **all** the connections by default when running 'rvc -s'. This makes rvc a little bit easier to use. Thanks!

[2017-08-21 02:08] erikbor opened #35 "Please add '-' and '.' to allowed characters in is_valid_conn_name()"
Having '-' and '.' allows us to use hostnames in the VPN connection name

And please include '_' too.

[2017-08-21 02:18] erikbor opened #36 "Change the date format in the logging"
Hi Jin,

Could you please change the date format in the logging from ```Mon 21 Aug 2017 10:15:46``` to ISO 8601 basic format (e.g.: ```19850412T101530```)

[2017-08-21 02:19] erikbor opened #37 "show help in rvc when given an invalid argument"
rvc now just returns without displaying help when provided with an invalid argument:

[code]

[2017-08-21 02:22] erikbor opened #38 "rvc: change the argument switches to names"
Please change the rvc switches to names:
```-l``` -> ```list```
```-c``` -> ```connect```
```-d``` -> ```disconnect```
```-s``` -> ```status```

I think ```-j``` can stay as it is

[2017-08-21 05:04] ronaldtse commented on #38
Yes this is much clearer. `-j / --json` is separate because you can use `rvc list --json` 👍

[2017-08-21 05:06] ronaldtse commented on #36
`strftime` with `"%FT%T%Z"` format string is exactly this format.

[2017-08-21 06:30] jjr840430 commented on #38
Fixed on #39

[2017-08-21 06:35] jjr840430 commented on #37
Fixed on #39

[2017-08-21 06:36] #37 closed

[2017-08-21 06:36] #38 closed

[2017-08-21 06:37] jjr840430 commented on #34
Fixed on #38

[2017-08-21 06:37] #34 closed

[2017-08-21 06:45] jjr840430 commented on #35
Fixed on #40

[2017-08-21 06:45] #35 closed

[2017-08-21 06:54] ronaldtse commented on #18
@jjr840430 that's actually a good idea, but maybe we should also allow reloading of config file:

[code]

[2017-08-21 07:23] jjr840430 commented on #18
@ronaldtse Can you clarify when removing or reloading the active connections?

so, assume the connection 'mytest1' was connected and try to remove it using rvc utility.
At this case, I think rvc utility should show error message and removing would be failed.
i.e. removing connection may be succeeded after disconnected the connection.

[2017-08-21 07:52] jjr840430 commented on #36
fixed on #41

[2017-08-21 07:53] #36 closed

[2017-08-21 08:29] erikbor opened #42 "rvc always shows 'Success' even when there are no active connections"
[code]

Maybe show something like 'no active connections' (in JSON) when there are no active connections.

[2017-08-21 08:36] erikbor opened #43 "rvcd does not show 'CONNECTING"

[2017-08-21 08:40] erikbor opened #44 "rvcd does not show 'CONNECTING' when a connection is connecting"
[code]

[2017-08-21 08:41] #43 closed

[2017-08-21 08:53] erikbor opened #45 "running rvc connect in a loop results in several openvpn processes"
[code]

[code]

[2017-08-21 09:00] erikbor commented on #19
@jjr840430 I still see auto-connect as disabled:

[code]

[code]

[2017-08-21 09:02] jjr840430 commented on #19
@erikbor

Can you specify 'auto-connect'? (not autoconnect)

[2017-08-21 09:03] erikbor commented on #19
@jjr840430 yes auto-connect did work! thanks

[2017-08-21 09:03] #19 closed

[2017-08-21 09:08] erikbor commented on #18
I think from a security perspective we don't want the rvc utility to add or remove any VPN configurations. The reason is that malicious payload could be inserted in the start/stop scripts and having rvcd just blindly executing this is not wanted behaviour. If you want to add a new configuration then users are required to use sudo.

[2017-08-21 09:10] erikbor commented on #11
I suggest we hardcode the default configuration path to ```/usr/local/etc/rvcd.conf``` with the following permissions: ```-rwxr-----    1 root  wheel```. And make rvcd check for these permissions every time it starts.

[2017-08-21 09:29] erikbor commented on #42
Also the return code will always be '0':

[code]

[2017-08-21 09:34] ronaldtse commented on #18
@erikbor if that's the case then we need to enforce rvcd to only allow running with config files of root permission, enforcing a behavior kind of like ssh keys?

[2017-08-21 09:35] erikbor commented on #18
@ronaldtse yeah I mentioned that in [11](https://github.com/riboseinc/rvc/issues/11)

[2017-08-21 09:36] erikbor opened #47 "rvc hangs with a long (>4000 characters) disconnect|connect argument"
[code]

[2017-08-21 10:34] ronaldtse commented on #18
Looks good @erikbor! Let's do that then.

[2017-08-22 07:56] erikbor opened #48 "create a homebrew formula"
Hi @jjr840430 can you please create a homebrew formula for rvc?

It should depend on openvpn, please see [homebrew-rvc](https://github.com/riboseinc/homebrew-rvc/issues)

Thanks!

[2017-08-22 08:03] jjr840430 commented on #45
fixed on #49

[2017-08-22 08:36] jjr840430 commented on #48
@erikbor I will create that. Thanks.

[2017-08-22 08:48] jjr840430 commented on #47
fixed on #50

[2017-08-22 08:48] #47 closed

[2017-08-22 08:49] #45 closed

[2017-08-22 09:20] jjr840430 commented on #44
fixed on #51

[2017-08-22 09:21] #44 closed

[2017-08-22 09:23] jjr840430 commented on #18
@erikbor If UI is going to add or delete a connection, then how it would tell to rvcd to do that?

[2017-08-22 09:25] erikbor commented on #18
@jjr840430 The UI should not be able to add or delete connections, only start/stop existing ones.

[2017-08-22 09:32] jjr840430 commented on #18
@erikbor What's your thoughts for reloading the configuration?
Anyway, something should notice to rvcd that the configuration has modified.

[2017-08-22 09:33] erikbor commented on #18
I think rvcd should monitor the config file in a inotify() way (like on Linux)

[2017-08-22 09:36] jjr840430 commented on #18
How about sending a notification using rvc utility after modified the configuration?
Something like as: rvc reload-config

[2017-08-22 09:42] ronaldtse commented on #18
Apparently there is no `inotify` on macOS, a list of alternatives on [SO](https://stackoverflow.com/questions/1515730/is-there-a-command-like-watch-or-inotifywait-on-the-mac)

[2017-08-22 09:46] jjr840430 commented on #18
I think that it's not efficient way to monitor the configuration file.
Anyone may save the non-completed configuration sometimes while editing the configuration file, so reloading may be failed.
So it needs to notice to rvcd that the configuration has completely modified.

[2017-08-22 09:47] ronaldtse commented on #18
Yes @jjr840430 it is true that there will be failures. It's much easier if there is a command to reload config. @erikbor 's concern is that non-privileged users may be able to trigger a reload, so if we prevent that it would be OK.

[2017-08-22 10:15] jjr840430 commented on #18
@ronaldtse @erikbor

We may introduce PrivilegedHelper launching on MacOS.
i.e. The installation and reloading of rvcd daemon may be done by UI using PrivilegedHelper technology on MacOS.

To do it, UI and rvcd daemon should be signed by Apple Developer ID certificate.
Only signed applications may control the rvcd daemon.

Here is the link to implement PrivilegedHelper.
https://developer.apple.com

[2017-08-22 10:27] jjr840430 commented on #18
Here is the sample code between UI and helper daemon using SMJobBless and XPC communication.
https://github.com/atnan/SMJobBlessXPC

[2017-08-23 00:03] erikbor commented on #18
@jjr840430 @ronaldtse having a PrivilegedHelper really overcomplicates things.

Make a sha1 sum of the config file in memory and diff it, if there's a change then load the config. I think we are over worrying about configs failing or not loading. We don't destroy the in-memory config so if a new/modified VPN does not load we spit out an error and ignore that VPN. The same would happen anyway when

[2017-08-23 00:25] ronaldtse commented on #18
In any case, we already need to sign the UI. The thing is if we need to "watch changes" on macOS then we already need a third-party utility to do so.

I'm just wondering the difference between:
1. Using a command `rvc reload`
2. Detecting changes in the config file

The first is so much easier to do compared to the second one. What's the major benefit of the second?

[2017-08-23 00:37] erikbor commented on #18
We don't need third-party modules, even monitoring using stat() mtime would work.

My major objections are that we're introducing a dependency on the UI for reloading while the original design was fully CLI-driven. This leaves CLI users (future Linux, BSD?) without an option to reload.

Regarding the differences:
The first one is not easier to implement because there is no way to securely make rvc

[2017-08-23 00:46] ronaldtse commented on #18
On a mac I assumed rvcd needs to use launchd since that's the only way it could launch using root?

I agree that we should stick with portability.  My concern with the auto-reload is transparency since it is happening without user intervention.

Another method is for `rvcd` to create a local socket that only root can write to -- then only root can issue the `reload` command to it?

[2017-08-23 01:00] erikbor commented on #18
Yeah I actually meant that we can use ```sudo launchctl rvcd reload``` to reload the configuration like a lot of daemons on Linux that you can ```kill -HUP``` to reload. I assume signals on macOS have identical/similar behaviour.

The root socket could also work, and then performing a ```getuid() == 0``` check in ```rvc``` upon ```reload```. In the reload case ```rvc``` needs to be executed by ```

[2017-08-23 05:42] jjr840430 commented on #18
@ronaldtse @erikbor
I think that restarting rvcd by launchctl would be the solution to reload configuration.

[2017-08-23 05:45] erikbor commented on #18
@jjr840430 okay cool, lets do it that way if @ronaldtse agrees

[2017-08-23 06:08] ronaldtse commented on #18
Agree. When you guys were posting I was actually looking for an example.

In certain brew formulas, there is an extra "caveats" step that informs the user of what else needs to be done after install. We can indicate to the user that an `sudo` step is necessary to edit the config file and make `launchctl` start `rvcd`.

e.g.,
https://github.com/Homebrew/homebrew-core/blob/master/Formula/nginx.rb

[2017-08-23 06:37] jjr840430 commented on #42
@erikbor The commands, 'connect' and 'disconnect' will work by async mode.
I think the result of 'disconnect all' doesn't have any meanings on the real environment.

[2017-08-23 07:06] ronaldtse commented on #42
I think `roc connect/disconnect` should be synchronous to be able to display the results? At least it could return the current connection results from `rvcd` showing the connections that are "shutting-down".

Otherwise the returned "status" would have no meaning...

[2017-08-23 07:52] jjr840430 commented on #42
@ronaldtse At practice, we may assume the following case:

If UI connects to a VPN, then the request should be returned soon, because connect will be take for a while.
If it waits until connection has completed, then UI will be hang until then.

It's effiecienty way that rvcd daemon will notice the connection result to UI after the connection has completed.

Otherwise, UI may repeat getting connec

[2017-08-23 09:11] ronaldtse commented on #42
@jjr840430 indeed, there are 3 components here:

1. Caller (person or UI)
2. Relay (`rvcd`)
3. Connection handler (`openvpn`)

By synchronous, what I meant was that `rvc connect / disconnect` should be synchronous to `rvcd` (1 and 2), meaning that `rvcd` should acknowledge the response from 1 that it will start shutting down the connections, then the `rvc` command returns.

That's why I mentioned

[2017-08-23 09:14] jjr840430 commented on #42
@ronaldtse OK, I will modify as you mentioned. Thanks.

[2017-08-24 06:15] jjr840430 commented on #42
Fixed on #52

[2017-08-24 06:38] jjr840430 commented on #28
Fixed on #52

[2017-08-24 06:39] #42 closed

[2017-08-24 06:39] #28 closed

[2017-08-24 08:02] jjr840430 commented on #27
Implemented on #53

[2017-08-24 08:02] #27 closed

[2017-08-25 14:14] ronaldtse opened #54 "Add documentation for socket commands (for UI) to README"
The interface between `rvcd` and UI is a socket that takes commands and provides responses.

`rvc daemon` listens on unix domain socket `/tmp/.rvcd_cmd`

### Command Codes

[code]

### Response codes

[code]

### JSON command and response format

#### Command

[code]

#### Response

[code]

### LIST Command

The response data for LIST command is as the followings:

[code]

### STATUS Command

Case

[2017-08-25 21:21] jjr840430 commented on #54
Implemented documentation on #55

[2017-08-25 21:21] #54 closed

[2017-08-28 08:20] erikbor commented on #48
@jjr840430 how's it going? need any help?

[2017-08-28 23:51] jjr840430 commented on #48
@erikbor Will work on this from today.

[2017-08-28 23:59] ronaldtse commented on #48
@jjr840430 do you have a mac?

[2017-08-28 23:59] jjr840430 commented on #48
Yes, I have Mac.

[2017-08-29 00:00] ronaldtse commented on #48
👍

[2017-08-29 07:23] erikbor opened #58 "rename 'rvcd' to 'rvd'"
```rvd``` == Ribose VPN Daemon :)

@jjr840430 could you please rename ```rvcd``` to ```rvd``` in the sources and destination please? Cheers

[2017-08-29 07:44] erikbor opened #59 "configuration change"
Hi @jjr840430, Ron and I have made a more detailed design of the configuration for the rvd daemon ```rvd```. This should make rvc flexible and easily configurable.

The main configuration for ```rvd``` is located in ```/opt/rvc/etc/rvd.json```:
[code]

```openvpn_bin```: the path of the OpenVPN executable
```openvpn_root_check```: check whether the OpenVPN executable is owned by root:wheel
```ovpn

[2017-08-29 08:19] jjr840430 commented on #58
Fixed on #60

[2017-08-29 08:20] #58 closed

[2017-08-29 08:31] jjr840430 commented on #59
@erikbor OK, agreed

[2017-08-31 08:42] jjr840430 commented on #59
Implemented on #61

[2017-08-31 09:00] jjr840430 commented on #59
Updated configuration example in doc directory ( #62  )

[2017-08-31 09:00] #59 closed

[2017-09-01 05:59] erikbor opened #63 "2 error messages for a missing configuration file"
rvd shows the path of the configuration file twice in the error message when the file is missing:

[code]

Can you show just the first one? Thanks!

[2017-09-01 06:03] erikbor opened #64 "Please change 'configurations' to 'configuration'"
Please change 'configurations' to 'configuration':

[code]

[2017-09-01 06:21] erikbor opened #65 "check for correct permissions of .ovpn files before parsing"
.ovpn files can now be readable for 'others':
[code]

@jjr840430 could you please implement a check for the correct permissions of .ovpn files. Only accept files that that are readable and writeable by the owner, not readable or writeable by the ```group``` and ```others```.

[2017-09-01 06:24] erikbor opened #66 "rvc status does not show connections"
[code]

[code]

[code]

rvd:
[code]

[2017-09-01 06:59] erikbor opened #67 "rvd follows symlinks"
@jjr840430 rvd follows symlinks making it possible to overwrite any root owned file:

[code]

Now create a symlink:
[code]

Now start rvd with the 'ct' VPN set to autoconnect:
[code]

Now look at what happened to ```/tmp/root_owned```:
[code]

[2017-09-01 07:20] erikbor opened #68 "rvd can create files in subdirectories within /tmp if specified in the json configration"
[code]

Now start rvd:
[code]

Now observe what happened in ```/tmp```:
[code]

[2017-09-01 07:23] erikbor opened #69 "rvd accepts newlines and tabs in VPN names"
[code]

Now look at ```rvd```:
[code]

[2017-09-01 07:28] erikbor opened #70 "rvd log is created without any permissions set"
[code]
Can you please ensure that the log is readable for the owner? Thanks

[2017-09-01 07:29] erikbor commented on #70
something like:
[code]

[2017-09-01 07:38] erikbor opened #71 "ensure rvd checks the ownership and permissions of its configuration file"
[code]

And rvd starts happily:
[code]

Please make sure that ```rvd.json``` is root owned and has these permissions set:
[code]

Also make sure that ```/opt/rvc```, ```/opt/rvc/etc``` are root owned

[2017-09-01 07:57] jjr840430 commented on #63
fixed on #72

[2017-09-01 07:57] #63 closed

[2017-09-01 07:58] jjr840430 commented on #64
fixed on #72

[2017-09-01 07:58] #64 closed

[2017-09-01 07:58] jjr840430 commented on #66
fixed on #72

[2017-09-01 07:58] #66 closed

[2017-09-01 08:39] jjr840430 commented on #65
@erikbor do I need to check whether .ovpn files are readable/writable by only root user?

[2017-09-01 08:40] erikbor commented on #65
@jjr840430 for the ones in /opt/rvc/etc/vpn.d yes please, but not for user owned ones (e.g. in ~/.rvc/)

[2017-09-01 08:51] erikbor opened #73 "rvd also needs to drop gid 0"
[code]

Server:
[code]

Now look at the other terminal:
[code]

This is because of:
[code]

Only ```setuid()``` is called, but rvd also needs to drop gid 0, maybe to nobody (-2)?

[2017-09-01 09:57] jjr840430 commented on #65
@erikbor I think it's very complicated to get owned user from the directory location which has VPN configuration.

[2017-09-01 10:01] erikbor commented on #65
I agree that a compromise is not very likely in the current setup but reducing attack surface never hurts. And forcing users to correctly set permissions is also not a bad thing.

[2017-09-01 10:04] jjr840430 commented on #65
rvd daemon is running as root privilege, so it's not possible to get owned user from '~/.rvc/' at run-time.

[2017-09-01 10:08] erikbor commented on #65
Issue [73](https://github.com/riboseinc/rvc/issues/73) is a vulnerability that allows an attacker to execute any executable as gid 0. I understand that there are some conditions that need to be met to successfully exploit it but all it takes is one vulnerability in rvd that compromises the entire system. That's why we need thorough checking of permissions, not following symlinks, input sanitisatio

[2017-09-01 10:15] jjr840430 commented on #65
Yes, You are right.
My wondering is just how rvd may get the user ID from the specified directory such as ~/.rvc/.
You were mentioned 'for the ones in /opt/rvc/etc/vpn.d yes please, but not for user owned ones (e.g. in ~/.rvc/)'.

How about check for only root user?

[2017-09-01 10:20] erikbor commented on #65
[code]
If user A placed ```ct.json``` and ```ct.ovpn``` in ```/usr/local/etc/vpn.d``` and forgot to set the correct permissions (e.g. ```rwxrwxrwx``` aka ```chmod 777```) then user B could own user A by changing the ```pre-connect-exec``` in ```ct.json```.

And user B could also obtain the private key that is stored in user A's ```ct.ovpn``` if the permissions are set to read for others.

[2017-09-01 10:32] jjr840430 commented on #67
fixed on #74

[2017-09-01 10:32] #67 closed

[2017-09-01 10:33] jjr840430 commented on #69
fixed on #74

[2017-09-01 10:33] #69 closed

[2017-09-01 10:33] jjr840430 commented on #70
fixed on #74

[2017-09-01 10:33] #70 closed

[2017-09-01 10:57] jjr840430 commented on #71
@erikbor Can we check the permission for the only rvd.json?
It's possible to remove config by the user when the directory has leak permissions, but not possible to edit that config in this case.
Also, I think the permission of the configuration directory should be checked while performing the installation.

[2017-09-01 10:58] jjr840430 commented on #68
fixed on #74

[2017-09-01 10:58] #68 closed

[2017-09-02 08:22] jjr840430 commented on #71
fixed on #74

[2017-09-02 08:22] #71 closed

[2017-09-02 09:04] jjr840430 commented on #73
fixed on #75

[2017-09-02 09:04] #73 closed

[2017-09-02 09:05] jjr840430 commented on #65
fixed on #74

[2017-09-02 09:05] #65 closed

[2017-09-06 04:11] ronaldtse opened #81 "Ensure macOS maintenance scripts take care of RVC/RVD log files"
We don't want /var/log/rvd.log getting huge, default macOS cleanups should help clean it up too.

[2017-09-06 05:30] erikbor opened #82 "Modify rvd vpn behaviour"
@jjr840430 we've been working with ```rvc``` and ```rvd``` and have some requests to make life a little bit more easier.

Can you implement the loading of a .ovpn file without a corresponding .json file.
The default settings would be: VPN name is filename of the .ovpn file, auto-connect set to false and no pre-exec script.

With this we have to create .json files only for VPNs that require auto-co

[2017-09-06 05:35] erikbor opened #83 "Change owner of VPN connection logs from root to the UID defined in rvd.json"
@jjr840430 can you please change the owner of VPN connection logs from the root user to the ```user_id``` as defined in ```rvd.json```?
That way we can just ``rm /tmp/logfile``` without having to use sudo.

Current situation:
[code]

Desired situation (user_id from rvd.json):
[code]

[2017-09-06 05:39] erikbor opened #84 "Less indentation in 'rvc list'"
@jjr840430 could you please remove 1 level of tab indentation in ```rvc list```?

[code]

To:
[code]

[2017-09-06 06:16] jjr840430 commented on #84
fixed on #85

[2017-09-06 06:16] #84 closed

[2017-09-06 06:30] jjr840430 commented on #82
@erikbor That's clear requirements. I will implement soon.

[2017-09-06 06:34] ronaldtse commented on #82
@erikbor @jjr840430 or maybe we don't even need to restart `rvd` if we use something like `fswatch`?

https://stackoverflow.com/questions/1515730/is-there-a-command-like-watch-or-inotifywait-on-the-mac

Given we are using Homebrew anyway, we can also require `fswatch`.

[2017-09-06 06:53] erikbor commented on #82
@ronaldtse how would ```fswatch``` be used?

[2017-09-06 06:54] ronaldtse commented on #82
@erikbor watch the directory and see if any new files or files changed, and call something like `rvc update` to update?

[2017-09-06 06:59] jjr840430 commented on #82
@ronaldtse If there is any pending edition of the config file, then reloading rvd will be failed.
So it needs to confirm that the config has been modified.

I think we need to add this confirmation into rvc utility.
If it has some security issues, then we may introduce username/password authentication for some behaviors.

Something like as https://www.ribose.com/#spaces/fa32f310-e994-4571-9e61-c5a

[2017-09-06 07:11] erikbor commented on #82
@ronaldtse  ```rvc``` could indeed be used to initiate a rescan of ```/opt/rvc/etc/vpn.d```, I like that! @jjr840430 I don't see security risks with that approach. One will still need root privileges to write in ```vpn.d``` and files writable by others will be ignored.

---

I don't like having a tool (```fswatch```) run all the time because we already have ```rvd``` running which could do exactly

[2017-09-06 07:12] ronaldtse commented on #82
But if there is any broken `*.json` file, `rvd` should just ignore that, right?

[2017-09-06 07:19] erikbor commented on #82
@ronaldtse yeah I think that would be the best behaviour, ignore it, log it and show it as ``broken``` in ```rvc list```.

[2017-09-06 07:21] erikbor commented on #82
And that should also apply to any broken ```.ovpn``` file

[2017-09-06 08:28] jjr840430 commented on #82
Fixed on #87

[2017-09-06 08:28] #82 closed

[2017-09-06 10:04] ronaldtse opened #88 "`rvc status --json` does not show all connections"
`rvc status` shows all connections, but `rvc status --json` doesn't.

[2017-09-06 10:07] ronaldtse opened #89 "rvc config in /opt/rvc/etc/vpn.d/xxx.json should work regardless of permissions?"
[code]

After restart, `conn2` is still not shown in `rvc status`. I had to do `chmod 600 conn2.*`, restart rvc, for it to work.

I think those files could have any permissions?

Or, rvc should at least show in logs or in `rvc status` that `conn2` has the wrong permissions and how to fix it?

[2017-09-06 10:15] ronaldtse opened #90 "`rvc status` should show some table instead of plain JSON"
For better readability.

[2017-09-06 10:18] ronaldtse commented on #90
And `rvc status all --json` fails with a help message.

[2017-09-07 02:12] erikbor commented on #89
@ronaldtse the permission check is needed so we don't leak our private keys in exposed `.ovpn` files (similar how OpenSSH checks private keys)

And yeah `rvd` should log that wrong permissions are set, and `rvc` should show this too.

[2017-09-07 02:13] ronaldtse commented on #89
Got it. Thanks @erikbor !

[2017-09-07 02:14] erikbor commented on #88
@ronaldtse that's because of the syntax of `rvc`: `rvc status <VPN NAME>` so in your case `rvc` showed the status of a VPN named `--json` which does not exist and therefor shows `code 4`.
VPN names with hypens `-` are allowed.

[2017-09-07 02:18] ronaldtse commented on #88
It is convention in many tools that `--json` would provide JSON output.

Aside from why hyphens are allowed as initials, `--json` is obviously (to a user) an "option" and must never be the name of a VPN connection -- that's confusing as hell...

[2017-09-07 02:20] erikbor opened #91 "Slightly modify the help output"
@jjr840430 could you modify the help output slightly please?

current situation:
[code]

to:
[code]

The first `options` should be indented with `2` spaces, and the options indented with `4` spaces. Also mandatory arguments are identified by `<option>`, and optional arguments by `[option]`

Thanks!

[2017-09-07 02:26] erikbor commented on #88
The option `--json` is not part of `rvc status` right now so it's expected behaviour.

@jjr840430 can you implement that `rvc` by default displays a table (as requested in [90](https://github.com/riboseinc/rvc/issues/90)) and accept `--json` for **every** option.

[2017-09-07 02:28] erikbor opened #92 "Enforce that VPN names in .json files should begin and end with an alpha numeric character [a-z|A-Z][0-9]"
This is to prevent confusion in case a user creates a VPN with a name such as `--json`

[2017-09-07 02:40] erikbor commented on #90
Reference: [88](https://github.com/riboseinc/rvc/issues/88)

[2017-09-07 02:47] erikbor opened #93 "Implement a reload configuration option in `rvc` and `rvd`"
@jjr840430 could you implement a reload configuration option in `rvc` and `rvd` please.

`rvc` connects to the socket and tells `rvd` to rescan `/opt/rvc/etc/vpn.d` and add/remove any VPNs that are added/removed.

So if we were to add a new `.ovpn` file in `/opt/rvc/etc/vpn.d` then we can run `rvc reload` and make the new VPN visible with `rvc list`.

[2017-09-07 02:55] ronaldtse opened #94 "rvc as an interface to edit connection configuration"
(Open to suggestions!)

## Connection options

[code]

## Import Connection

[code]

## Add Connection

[code]
[code]

## Remove Connection

[code]
[code]

## View options

[code]

[2017-09-07 03:24] erikbor opened #95 "Implement an import option in `rvc`"
@jjr840430 can you implement an import option in `rvc` please?

The import option will do the following:

[code]

These are (minimum) steps that `rvc` needs to do when the `import` option is given to safely be ran with sudo:
* `rvc` sees the `import` option
* `rvc` checks its own path and verifies it's started from `/opt/rvc/bin/rvc`
* `rvc` `geteuid()` check for root
* `rvc` checks for the `SUDO_

[2017-09-07 03:41] ronaldtse commented on #88
Thanks @erikbor @jjr840430 !

[2017-09-07 03:49] erikbor commented on #94
My comments one by one each subject:

## Connection options

These options look good and modify **only** the corresponding `.json` file of `vpn-name`:
[code]

The following options would edit a `.ovpn` file. I think given all the options that OpenVPN offers it would be just a too limited set that we support and therefor I think we should not support editing `.ovpn` files at all. Plus it would be a

[2017-09-07 04:06] ronaldtse commented on #94
@erikbor there is actually one more use case I thought we should support: the incomplete `ovpn` file.

By "incomplete ovpn file" I mean the separation of the `.ovpn` file (OpenVPN config), the `ca.crt` (CA Cert), the `client.crt` (Client Cert) and `client.key` (Client Key). This is the case in Tunnelblick.

The "complete ovpn file" contains all 4 elements inside the `.ovpn` file.

I added the seco

[2017-09-07 05:21] ronaldtse commented on #90
Thanks @erikbor !

[2017-09-07 05:23] jjr840430 commented on #88
@erikbor OK, I will implement.

[2017-09-07 05:30] jjr840430 commented on #81
@ronaldtse The default maximum size of the log file is 30Mbytes.
If maximum size was detected, then rvd will backup log file and create a new one.

[2017-09-07 05:54] ronaldtse commented on #94
OK I spoke with @erikbor and the priority is to support only the first set of configs, since we won't be switching out of OpenVPN in the near future.

[2017-09-07 05:54] ronaldtse commented on #81
Thanks @jjr840430 !

[2017-09-07 05:54] #81 closed

[2017-09-07 05:59] ronaldtse opened #96 "Store sensitive information in system keychain"
A complete `.ovpn` file contains:
* OpenVPN connection configuration, e.g., "proto udp"
* CA Certificate in "<ca></ca>"
* Client Certificate in "<cert></cert>"
* Client Key in "<key></key>"

This enhancement is to store the last 3 items in the system keychain, e.g., macOS Keychain or Gnome / KDE Keychain.

When we do this we need to extend the JSON configuration to something like:
[code]

Then on

[2017-09-07 08:20] jjr840430 commented on #83
fixed on #97

[2017-09-07 08:20] #83 closed

[2017-09-07 09:40] jjr840430 commented on #88
fixed on #98

[2017-09-07 09:40] #88 closed

[2017-09-07 09:42] jjr840430 commented on #90
fixed on #98

[2017-09-07 09:42] #90 closed

[2017-09-07 09:57] jjr840430 commented on #89
@ronaldtse @erikbor rvd is currently logging the error message when .ovpn has invalid permission.

[2017-09-07 10:06] jjr840430 commented on #91
fixed on #99

[2017-09-07 10:06] #91 closed

[2017-09-07 10:14] jjr840430 commented on #92
@erikbor Currently, rvd checks whether the first character of VPN connection name is alphabetic or digit.
Is it need to check that for the last character too?

[2017-09-07 10:40] jjr840430 commented on #94
@erikbor `rvc connect set` and `rvc connection new*` will require sudo.
Even if rvc executes it by sudo privilege, but rvd couldn't check whether that command is from sudo process.
So if someone knows about the sending format of above commands, then it's possible to apply them using the normal user by sending the same format to rvd process.
What're your thoughts on that?

[2017-09-07 10:45] jjr840430 commented on #94
@ronaldtse
[code]
It's possible to overwrite the contents of certificates and key files in OpenVPN configuration file.
So if `ovpn-config` option was set at first, then certs and key may be added in the ovpn config file.

[2017-09-07 13:10] ronaldtse commented on #94
@jjr840430 the `rvc connection new*` and `rvc connection set` commands directly edit the connection's config JSON without going through `rvd`, so the permissions work just like before.

It is only after changing the config it will ask `rvd` through the socket to re-check the config. Thanks!

[2017-09-08 08:22] erikbor commented on #92
@jjr840430 hmm I see, yeah could you please add the last character check too? Thanks!

[2017-09-10 06:51] jjr840430 commented on #92
fixed on #100

[2017-09-10 06:51] #92 closed

[2017-09-10 07:25] ronaldtse opened #101 "Create make target to upload new version release to GitHub"
Create new make target in the Makefile:

"make dist" to package a new version in tar.gz "rvc-${version}.tar.gz"

"make release" to upload above archive to github using the github-release tool.

[2017-09-10 07:36] jjr840430 commented on #93
To reload rvd process, rvc should run as sudo privilege and reload the rvd process directly.
So it needs to know whether rvd daemon was installed as launch daemon before reloading it.

@erikbor @ronaldtse What's your thoughts on that?

[2017-09-10 10:13] erikbor commented on #93
@jjr840430 what would `rvc` do to reload `rvd`? Kill it?

[2017-09-10 10:37] ronaldtse commented on #93
RVD reload should not be an actual "reload" of the process, but just a "reload" of all configuration. RVC should only tell RVD to reload the VPN config, not kill and restart the process. Kill and restart is only done via launchctl.

[2017-09-10 15:24] jjr840430 commented on #93
@ronaldtse That makes sense. I will implement it by sending a specific signal to rvd process.

[2017-09-11 00:35] ronaldtse commented on #93
Thank you @jjr840430 !

[2017-09-11 03:23] erikbor opened #102 "Change `rvd` socket_path from `/tmp/.rvd_cmd` to `/var/run/rvd`"
Please change the `rvd` socket_path from `/tmp/.rvd_cmd` to `/var/run/rvd`. Other sockets are also residing in `/var/run`.

[2017-09-11 04:26] ronaldtse commented on #102
Agree!

[2017-09-11 05:26] erikbor opened #103 "Change `rvd` openvpn_bin path to `/opt/openvpn/sbin/openvpn`"
The formula copies `openvpn` to `/opt/openvpn/sbin` while the `rvd.json` assumes it in `/opt/openvpn/bin`

Thanks

[2017-09-11 05:34] erikbor opened #104 "`rvd` needs to check whether `openvpn_bin` exists when `connect`"
[code]

[code]

That results in the following:
[code]

Can you implement a check that `openvpn_bin` actually exists or not please, the log file does not currently show it.

[2017-09-11 05:36] jjr840430 commented on #104
@erikbor I see.

[2017-09-11 05:56] erikbor commented on #102
@jjr840430 can you please hardcode this path (and take it out of `rvd.json`) instead of making this configurable in `/opt/rvc/etc/rvd.json`. This is because `rvc` cannot read `/opt/rvc/etc/rvd.json`.

[2017-09-11 06:03] ronaldtse commented on #102
@erikbor what's the consideration to hard code the OpenVPN binary path in RVC? We should probably keep it configurable. RVC doesn't need to know the binary of OpenVPN, and if you want to expose that we could have an RVD socket command for that, which RVC could read?

[2017-09-11 06:07] erikbor commented on #102
@ronaldtse `rvc` doesn't know the location of the `rvd` socket, so it cannot connect to it for the location of the `rvd` socket. Moving the socket out of `/tmp` will make `rvd` more like other daemons. Another solution than hardcoding the socket path would be to create a `rvc.json`?

[2017-09-11 06:13] ronaldtse commented on #102
Oh I got confused, I thought you meant the OpenVPN binary path. Yes the /var/run patch could be hardcoded as a default, but we could also specify that in `rvd` startup options (e.g., `rvd -s /var/run/rvd`).

[2017-09-11 06:24] erikbor commented on #103
This actually is a bug:

[code]

[code]

I can still connect to VPNs:
[code]

[code]

It seems that the `openvpn_bin` path is ignored in the `rvd.json`

[2017-09-11 06:28] erikbor opened #105 "`openvpn_root_check` in `rvd.json` is ignored"
Process:
[code]

Configuration:
[code]

Filesystem permissions and owner:
[code]

[2017-09-11 06:34] jjr840430 commented on #93
Implemented on #106

[2017-09-11 06:34] #93 closed

[2017-09-11 06:38] jjr840430 commented on #102
@ronaldtse If rvd should have the option related with socket path, then it needs to add an option into rvc too.
I think we may have hard-coded socket path for rvd and rvc both.

[2017-09-11 06:41] erikbor commented on #102
@jjr840430 yeah exactly, I guess it's best to just remove the config option for `rvd` all together.

[2017-09-11 06:43] ronaldtse commented on #102
Unless we separate RVD and RVC config since they run in root and user space respectively. We can go with hardcoding for now.

[2017-09-11 06:52] jjr840430 commented on #102
Fixed on #107

[2017-09-11 06:52] #102 closed

[2017-09-11 07:43] jjr840430 commented on #105
Fixed on #108

[2017-09-11 07:43] #105 closed

[2017-09-11 07:44] jjr840430 commented on #104
Fixed on #108

[2017-09-11 07:44] #104 closed

[2017-09-11 07:44] jjr840430 commented on #103
Fixed on #108

[2017-09-11 07:44] #103 closed

[2017-09-11 08:13] jjr840430 commented on #95
@erikbor Here is the command line to import VPN configuration.

`sudo rvc import <new-from-tblk|new-from-ovpn> <path>`

I think VPN connection name isn't needed because tblk or ovpn file contains that name.
Let me know your opinions.

[2017-09-11 08:32] jjr840430 commented on #95
@erikbor Since imported VPN connections should be located into `/opt/rvc/etc/vpn.d`, I think this path should be added by default when initializing rvd.
So, all imported VPN connections should be available even if the rvd global configuration doesn't have this path

[2017-09-11 09:11] jjr840430 commented on #95
@erikbor What's the option if same VPN configuration exists in `/opt/rvc/etc/vpn.d`?

[2017-09-11 09:52] ronaldtse commented on #95
@jjr840430 agree that we should initialize it or install it in the beginning, and we don't need the name.

[2017-09-11 10:37] jjr840430 commented on #95
@erikbor What's mean of tblk extension? Is it same with .json?

[2017-09-11 12:55] ronaldtse commented on #95
"tlbk" is the Tunnelblick extension on macOS, it is basically a directory that contains an '.ovpn' file, a 'ca.crt', a 'client.crt' and a 'client.key' file, all under a 'Resources/Contents' directory.

[2017-09-11 12:56] ronaldtse commented on #95
If you install Tunnelblick and "import" an '.ovpn' file, you can see where it is installed, it will be a '.tblk' file.

[2017-09-11 13:56] #48 closed

[2017-09-11 13:57] ronaldtse commented on #89
@erikbor can close?

[2017-09-13 08:31] jjr840430 commented on #18
This issue is duplicated with #93

[2017-09-13 08:31] #18 closed

[2017-09-14 14:35] jjr840430 commented on #95
Implemented by #112

[2017-09-14 14:35] #95 closed

[2017-09-17 13:47] jjr840430 commented on #94
Implemented remove_connection by #115

[2017-09-19 06:36] ronaldtse opened #119 "Occasionally after macOS sleeps VPN connections are stuck in "RECONNECTING""
See below, both were stuck in "RECONNECTING" but not actually connecting.

Then I ran `rvc disconnect vpn-1` then `rvc connect vpn-1`, and it became "CONNECTED".

[code]

After a long time, the "RECONNECTING" one also became "CONNECTED" after around 140 seconds.

Maybe there should be some timer for RECONNECTING and kill it?

Maybe there should be an `rvc reconnect vpn-1` command?

[2017-09-19 07:22] jjr840430 commented on #119
@ronaldtse Can you attach the log file of rvd?

[2017-09-19 07:32] ronaldtse commented on #119
[cleaned-rvd-log.txt](https://github.com/riboseinc/rvc/files/1313384/cleaned-rvd-log.txt)

[2017-09-19 08:04] erikbor opened #122 "OpenVPN is still started from /usr/local"
@jjr840430 On the latest build OpenVPN is still started from `/usr/local`:

[code]

I installed RVC using the homebrew formula.

[2017-09-19 08:10] erikbor opened #123 "Please make some minor changes to rvc"
## in the rvc output the last word does not have a space between the word and '(sudo'
current:
[code]

to:
[code]

## rvc disconenct output
current:
[code]

to:
[code]

Thanks!

[2017-09-19 08:16] #123 closed

[2017-09-19 08:31] jjr840430 opened #126 "Prevent DNS leakage"

[2017-09-19 08:36] jjr840430 commented on #126
ISP may see and monitor activities even though VPN connection was established.

[2017-09-20 02:31] erikbor opened #133 "race condition with rvd creating the log file"
There is a race condition in `src/vpn.c` when `rvc` removes a log file before executing `openvpn`:

[code]

So first `rvd` will remove the log file, example: `/tmp/test.ovpn.log` and then it forks() and execv() `openvpn` as root. In between these calls an attacker can remove `/tmp/test.ovpn.log` and link it to a root owned file. I made a PoC for this:

[code]

[code]

[code]

Running these two scr

[2017-09-20 02:40] erikbor commented on #126
@jjr840430 can you explain this a little bit more thanks

[2017-09-20 02:53] erikbor opened #134 "replace strcpy() and strcat() with strlcpy() and strlcat()"
There are several instances of `strcpy()` used which could lead to a buffer overflow:

Example, `vpn.h`:
[code]

`char ovpn_profile_path[RVD_MAX_PATH];` = 256 as defined in:
`common.h:#define RVD_MAX_PATH				256`

`vpn.c`:
[code]

`parse_config()` is provided with `RVD_DEFAULT_CONFIG_PATH`:
`rvd.c:	if (parse_config(&c->opt, config_path ? config_path : RVD_DEFAULT_CONFIG_PATH) != 0)`

Where `RVD_DE

[2017-09-20 05:22] jjr840430 commented on #126
@erikbor Here is the link about DNS leakage.
https://www.dnsleaktest.com/what-is-a-dns-leak.html

[2017-09-20 05:40] ronaldtse commented on #126
VPN clients should use a DNS on the VPNed network.

[2017-09-20 06:25] erikbor commented on #126
@jjr840430 how are you going to prevent this? and how will you implement this in RVC?

@ronaldtse that should be optional, we don't necessarily want a VPN server to define the name server on the VPN client. And how will that scale when connecting to more than 1 VPN server that would like to set the name servers.

[2017-09-20 07:05] jjr840430 commented on #126
We may define DNS servers as globals for RVC.
So DNS resolving on all VPN connections should be done by that DNS servers.

For example, we may define DNS servers as Google DNS servers, 8.8.8.8 or 8.8.4.4

[2017-09-20 07:33] jjr840430 commented on #133
@erikbor That makes sense to me.

How about creating log files into /opt/rvc/log directory?
We also may put rvd.log file there.

[2017-09-20 07:53] #122 closed

[2017-09-20 07:53] #134 closed

[2017-09-20 07:54] jjr840430 commented on #119
@ronaldtse Can you attach OpenVPN log files too?

[2017-09-20 08:11] jjr840430 commented on #126
Here is the global configuration for DNS settings:

[code]

[2017-09-20 08:19] jjr840430 commented on #126
@erikbor @ronaldtse
The multiple VPN connections may bring the conflicts of routes on MacOS.

For example, if `vpn-1` and 'vpn-2' has the same configuration to redirect all connections over VPN connections, then it's not possible to apply two settings at once.

What do you think about it?

[2017-09-20 08:32] erikbor commented on #133
I'd prefer to keep it in `/var/log` because that's where the rest of the log files are.

Cheers.

[2017-09-20 08:34] jjr840430 commented on #133
OK, agreed.

[2017-09-20 08:35] erikbor commented on #126
@jjr840430  Hmmm yeah you are right, the DNS issue of multiple VPNs is the least of our problems because the routes pose a much bigger problem. Okay so that doesn't really matter than.

What would `rvd` do with `override_dns_settings`?

[2017-09-20 08:50] jjr840430 commented on #126
`rvd` will override DNS settings at startup if 'override_dns_settings' are enabled.
This settings will be removed when rvd is stopped.

`rvc` may enable or disable this settings by `sudo` command.
[code]

[2017-09-20 09:53] jjr840430 commented on #133
@erikbor Created /var/log/rvd directory and writes rvd and openvpn logs there.

[2017-09-20 10:07] ronaldtse commented on #119
Let me see if I can find them...

[2017-09-21 03:10] ronaldtse commented on #119
Logs:
* `vpn-disconnected-then-self-connected` logs only started at `14:29:24` which is the time it connected properly. => RVC should not wipe OpenVPN connection log if it already exists.
* `vpn-reconnecting-then-self-connected` logs are listed below. The problem is due to the 300s sleep by OpenVPN (OpenVPN sleep started at `14:11:14`, computer wakes at `14:26:57` and also wakes OpenVPN process. W

[2017-09-21 06:36] jjr840430 commented on #119
@ronaldtse Can I look your OpenVPN profile for `vpn-reconnecting-then-self-connected`?
It may have some line related with a timeout.

[2017-09-21 06:40] ronaldtse commented on #119
The file is quite clean, all three connections have the same config except the remote address.

[code]

[2017-09-21 10:43] jjr840430 commented on #126
The configuration of `rvd` will have the following line to override DNS settings
[code]
The permission of this file should be '0700' and owned by `root:wheel`.

Here is the configuration with `dns_util_bin` setting.

{
  "openvpn_bin": "/opt/openvpn/sbin/openvpn",
  "openvpn_root_check": true,
  "ovpn_up_down_scripts": false,
  "user_id": 501,
  "restrict_socket": true,
  "log_directory": "/var/lo

[2017-09-22 01:34] erikbor commented on #126
@jjr840430 does `sudo rvc dns-override <enable|disable|status> <DNS servers separated by comma>` update `/opt/rvc/etc/rvd.json`?

Can you also show what `/opt/rvc/bin/dns_util.sh` will look like?

[2017-09-22 05:30] jjr840430 commented on #126
@erikbor No, that option doesn't update `rvd.json`
This option will run `dns_util.sh` and update DNS settings on the system.

Still working on `dns_util.sh`. It uses `scutil` to apply DNS settings.
Will push it today later.

[2017-09-22 07:17] jjr840430 commented on #126
@erikbor Can you review this script?

https://github.com/riboseinc/rvc/blob/dns_leak/utils/dns_util.sh

[2017-09-22 08:01] jjr840430 commented on #126
@erikbor Since the DNS utility would be executed by rvc utility, so I think the path of dns_util.sh should be hardcoded.

[2017-09-22 09:09] #133 closed

[2017-09-22 09:11] jjr840430 commented on #119
@ronaldtse Does it work for you?

[2017-09-22 09:46] jjr840430 opened #140 "The script to build package"
@ronaldtse @erikbor Is it enough to just support homebrew?
How about adding the script to create the package for Mac?

[2017-09-22 09:50] jjr840430 opened #141 "The multiple VPN connections"
Can we allow only single VPN connection for rvd?
The multiple VPN connections will cause the routing conflicts.

[2017-09-22 09:53] jjr840430 opened #142 "Multiplatform supports"
Since rvc and rvd have been written by C, it's possible to port to other platforms such as Windows/CentOS/Ubuntu/FreeBSD systems.

[2017-09-22 10:10] ronaldtse commented on #119
Just installed it and will let you know!

[2017-09-22 10:11] ronaldtse commented on #141
@jjr840430 what do you mean? `rvd` must be able to connect to multiple OpenVPN connections, just like what we do now?

[2017-09-22 15:06] jjr840430 commented on #141
For example, we may assume the following two connections at the same time.
1. This configuration routes all traffic over `VPN-1` connection
2. This configuration routes traffic which has 10.10.10.0/24 as destination IP address over `VPN-2` connection

The second configuration isn't meaningless because `VPN-1` routes all traffic to specified VPN server.

My thought is to allow only one VPN connecti

[2017-09-22 15:20] jjr840430 commented on #141
Sorry, my confusing, I think above connections may coexist at the same time.

[2017-09-22 23:39] ronaldtse commented on #142
Agree! Can we first make it work on Linux and BSD with separate issues?

[2017-09-22 23:40] ronaldtse opened #143 "RVC should work on RHEL / CentOS"
We need to package RVC in `rpm` with a spec file and run via `systemd`.

Ref: #142

[2017-09-22 23:44] ronaldtse commented on #140
That would be easier to install because we can directly request the sudo password. How long do you think it takes?

[2017-09-22 23:54] ronaldtse commented on #126
As we know each OpenVPN connection will come with a domain name, such as:
[code]

In OpenVPN server config you can push the DNS option via DHCP:
https://serverfault.com/questions/656694/allow-openvpn-client-to-push-its-own-dns-servers-regardless-of-openvpn-server

If the DNS is set to resolve for `mynetwork.mydomain.com`, and all the endpoints accessible via this connection are `{foo, bar}.mynetwo

[2017-09-23 14:49] jjr840430 commented on #143
@ronaldtse OK, I will work on RHEL/CentOS.

[2017-09-23 14:50] jjr840430 commented on #140
It will be taken no much time. :)

[2017-09-23 15:01] jjr840430 commented on #126
@ronaldtse Yes, that's right.
To do it, the server side should support some options in the following link:
https://stackoverflow.com/questions/22298078/openvpn-push-dhcp-option.

Also, OpenVPN client for Mac doesn't support to apply DNS settings automatically on the client side.
So it needs to create a utility such as `dns_util.sh` on #139

Since `rvc` supports multiple VPN connections, so this ut

[2017-09-25 04:44] erikbor commented on #143
@jjr840430 btw you need to include a copy of strlcpy() and strlcat() from OpenBSD because RHEL glibc does not come with those (whereas *BSD and macOS do).

[2017-09-25 04:46] erikbor opened #144 "Change vpn_config_paths in rvd.json from an array into a single entry"
[code]

@jjr840430 can you please update `rvd.json` to reflect that `vpn_config_paths` is no longer an array? Thanks!

[2017-09-25 04:50] erikbor commented on #143
The `PATH` in which RVC should be installed on non-macOS operating systems is `/usr/local/bin` and `openvpn_bin` in `rvd.json` should point to `/usr/sbin/openvpn`:

[code]

[2017-09-28 18:09] #144 closed

[2017-09-29 02:17] erikbor opened #149 "'merge' status and list"
Hi @jjr840430

We've been using RVC now a lot and we have not made any use of the `list` argument.
Can you please remove the `list` argument and add the output of `list` from: `auto-connect` and `pre-exec-cmd` to the `status` argument?

I will update the `README.md` to reflect the changes. Can you let Nikita know about the changes you will make so the GUI can also be updated?

Many thanks

[2017-09-29 02:26] erikbor opened #150 "A second parameter after `help` results in `invalid command 'help'`"
Executing `rvc` with `help` and a second parameter results in: `invalid command 'help'`

[code]

[2017-09-29 02:36] erikbor opened #151 "the output of pre-connect-exec is no longer logged"
[code]

[code]

I don't see the output of `date` in the log file. Can you please ensure that the output of the `pre-connect-exec` entries are logged into `/var/log/rvd/<VPN>.ovpn.log`?

We are having some problems with our MFA scripts and it was difficult to troubleshoot because the `pre-connect-exec` was basically a black hole.

Thanks!

[2017-09-29 02:43] erikbor opened #152 "Please replace every instance of strcat() and strcpy() with strlcat() and strlcpy()"
@jjr840430 can you please replace every instance of `strcat()` and `strcpy()`? You already did this previously but now there are new `strcat()` and `strcpy()` calls.

Please make sure that only `strlcat` and `strlcpy` are used in RVC. Many thanks!

[code]

[2017-09-29 02:53] erikbor opened #153 "Please log the return code of the command in `pre-connect-exec`"
@jjr840430 can you please log the return code of the command in `pre-connect-exec`?

Can you also generate an error log entry in the `/var/log/rvc/<VPN>.ovpn.log` if the return code is `!= 0`.
The log message should be something like: `Warning, pre-connect-exec failed`.

I also would like to see this reflected in `rvc status`.

Example when failed:
[code]

Example when succesful:
[code]

[2017-09-29 05:36] #152 closed

[2017-09-29 22:30] #151 closed

[2017-09-29 22:31] jjr840430 commented on #149
@erikbor fixed.

[2017-09-29 22:31] #149 closed

[2017-09-29 22:31] jjr840430 commented on #153
@erikbor Fixed.

[2017-09-29 22:31] #153 closed

[2017-09-29 22:31] jjr840430 commented on #151
@erikbor Fixed.

[2017-09-29 22:35] #150 closed

[2017-09-29 22:36] jjr840430 commented on #150
@erikbor Fixed.

[2017-10-03 02:43] erikbor opened #159 "./configure fails"
@jjr840430 I can't `./configure` on the latest version on macOS:

[code]

My versions:
[code]

[2017-10-03 05:51] jjr840430 commented on #159
@erikbor Can you try to run the following command?

./configure --with-openssl=/usr/local/opt/openssl

[2017-10-03 05:59] erikbor commented on #159
@jjr840430 the `./configure` works with that but `make` now fails:

[code]

[2017-10-03 06:02] jjr840430 commented on #159
@erikbor sorry, there was a modification while adding epel rpmbuild spec.
I will update soon.

[2017-10-03 06:03] erikbor commented on #159
Great thanks

[2017-10-03 06:11] jjr840430 commented on #159
@erikbor Fixed.

[2017-10-03 15:48] jjr840430 commented on #143
@ronaldtse , @erikbor

I modified `rvc` to work on RHEL and CentOS. Also, I added the script to build RPM on those platforms.
Please review, Thanks

[2017-10-03 16:41] jjr840430 commented on #140
@erikbor Do you think we need to put OpenVPN binary in the package file?

[2017-10-04 01:13] erikbor commented on #140
@jjr840430 I'd rather not do that at this moment. There are too many supply chain risks that we would need to mitigate and we don't have the infrastructure for that (yet).

Maybe at a later stage?

[2017-10-04 04:13] erikbor commented on #159
@jjr840430 it still doesn't work:

[code]

This also impacts the homebrew formula, as it's now impossible to install RVC on macOS.

Can you please fix this? Thanks

[2017-10-04 17:26] jjr840430 commented on #159
@erikbor pkg-config for OpenSSL doesn't get proper value on MacOS.
I will try to add build script on MacOS.

[2017-10-04 17:27] jjr840430 commented on #140
@erikbor Agreed :)

[2017-10-05 17:33] #143 closed

[2017-10-06 03:46] erikbor opened #167 "Rename `osx` to `macos` directory in `platforms`"
@jjr840430 please rename `osx` to `macos` as OSX is no longer used by Apple. Thx.

[2017-10-06 04:11] erikbor opened #168 "clean up macOS pkg building"
Hi @jjr840430, can you please clean up the macOS pkg building scripts?

There is now a lot of duplicate stuff going on in your scripts and the homebrew formula. I want to sync our efforts and prevent duplication.

You now have included a `com.ribose.rvd.plist` which is fine but this was originally created by the homebrew formula. I will remove the `com.ribose.rvd.plist` creation from the homebrew

[2017-10-06 04:14] erikbor opened #169 "`make install` fails on macOS"
[code]

[2017-10-06 04:59] ronaldtse commented on #168
@jjr840430 please also update the `homebrew` formula to use the new `.plist` file. The `.plist` file should be installed by Homebrew on macOS.

[2017-10-06 05:05] erikbor opened #170 "remove `doc/README.config.md`"
I included its content in `/README.md` and there's no longer a need for a separate document.

[2017-10-06 05:09] erikbor commented on #11
This issue is no longer relevant as we keep our config in `/opt/rvc/etc/rvd.json`

[2017-10-06 05:09] #11 closed

[2017-10-06 05:11] erikbor commented on #4
`cppcheck` has not identified any issues, we use `strl*`, our permissions seem solid.

[2017-10-06 05:11] #4 closed

[2017-10-06 05:12] #89 closed

[2017-10-06 16:27] jjr840430 commented on #168
@erikbor Fixed issues.

[2017-10-06 16:29] jjr840430 commented on #169
@erikbor Fixed by #173

[2017-10-06 16:29] jjr840430 commented on #167
@erikbor Fixed by #173

[2017-10-06 17:06] jjr840430 opened #175 "Added Debian"

[2017-10-06 17:09] jjr840430 commented on #175
Related with #142

[2017-10-07 00:45] erikbor opened #176 "Please put back `/opt/rvc/sbin/rvd` to `/opt/rvc/bin/rvd`"
We initially did not use `/opt/rvc/sbin/rvd`, I'm not sure when this got introduced but it was one of the reasons why the homebrew formula broke last week.

`/sbin` is used for statically compiled executables while `/bin` holds dynamically linked executables. On macOS every executable is dynamically linked so there is no need/benefit to create a `/opt/rvc/sbin` for `rvd` while `rvc` lives in `/opt

[2017-10-07 01:24] erikbor opened #177 "Copy `platforms/macos/scripts/postinstall` to `/usr/local/bin` with `make install`"
When we have the `postinstall` script in `/usr/local/bin` then it will be easier for the homebrew formula to set permissions and install everything in `/opt`

[2017-10-07 01:28] erikbor opened #178 "Question: What is the use of `RVC_DATA_DIR=/tmp/rvc.dist` in `platforms/macos/scripts/postinstall`"
@jjr840430 What is the use of `RVC_DATA_DIR=/tmp/rvc.dist` in `platforms/macos/scripts/postinstall`?

Is that because of:
`build_macos_pkg.sh`
[code]

If it is, then we should consider making `RVC_DATA_DIR` an argument of `postinstall`. E.g.: `./postinstall /tmp/rvc.dist` or `./postinstall /opt/rvc`. That way `postinstall` can be used by both `build_macos_pkg.sh` and the homebrew formula.
Is this

[2017-10-09 01:46] #167 closed

[2017-10-09 01:49] #170 closed

[2017-10-09 08:02] jjr840430 commented on #178
@erikbor I modified `rvc` to use one script for installation and packaging.

After running `./build_macos.sh`, the `rvc_install.sh` and `rvc_uninstall.sh` will be installed to `/usr/local/bin`.

If you are going to install `rvc` components to `/opt`, then you can just try to execute the following command.
[code]
To uninstall `rvc` components:
[code]

[2017-10-09 08:02] jjr840430 commented on #178
Fixed by #181

[2017-10-09 08:11] jjr840430 commented on #177
@erikbor After running `make install`, `rvc_install.sh` will be copied to `/usr/local/bin`.

So homebrew may install `rvc` to `/opt` directory using the following command.

[code]

[2017-10-09 08:11] jjr840430 commented on #177
fixed by #181

[2017-10-09 08:11] jjr840430 commented on #176
fixed by #181

[2017-10-11 02:40] #159 closed

[2017-10-11 02:40] #176 closed

[2017-10-11 03:07] #177 closed

[2017-10-11 03:14] erikbor opened #185 "Check executable path when executing `rvc` with `sudo`"
@jjr840430 can you please implement a check in `rvc` that checks whether the `rvc` binary is executed from: macOS =`/opt/rvc/bin` and Linux = `/usr/local/bin`.

For Linux you can `fopen()` `/proc/self` to see what argv[0] is and on macOS you can use `_NSGetExecutablePath`.

This enhancement is to make sure `rvc` is not executed with `sudo` from other directories than intended and it will force mac

[2017-10-11 03:15] #178 closed

[2017-10-11 03:15] #169 closed

[2017-10-11 03:16] #168 closed

[2017-10-11 15:19] jjr840430 commented on #185
@erikbor Fixed by #190 #189

[2017-10-12 15:31] jjr840430 commented on #96
@ronaldtse rvc project isn't possible to use keychain APIs. I think UI may address this issue.

[2017-10-12 17:25] ronaldtse commented on #96
We could use the `security` command line to work with macOS keychain.

[2017-10-13 06:34] erikbor commented on #185
@jjr840430 this is excellent!!! thank you :D

[2017-10-13 06:34] #185 closed

[2017-10-13 20:34] jjr840430 commented on #96
@ronaldtse The `security` command triggers asking UI while exporting the certificates and keys.
`rvd` is running as background mode, so I think it's not possible to integrate `keychain` access using `security` command into `rvd`.

What's your thoughts?

[2017-10-13 21:02] jjr840430 commented on #94
@ronaldtse @erikbor Here is the command to edit `rvc` connections.

[code]

Here is the list of `connection parameters`:

`auto-connect` : The `flag` for auto connection. The value may be `true` or `false`.
`pre-exec-cmd` : The `command line` which is triggered before connecting to `VPN`.
`profile` : The `profile` path for `VPN connection`.
`certificate` : `PKCS#12` certificate including `CA`, `cl

[2017-10-13 21:07] jjr840430 commented on #96
@ronaldtse I added `keychain` access to `rvc` utility as `edit` parameter.

[2017-10-16 17:16] ronaldtse commented on #94
@jjr840430 do you mean that `keychain-item` would allow us to store those parts in the macOS keychain? Is it possible to "import" an `ovpn` file and automatically have those parts stored in the keychain?

[2017-10-16 17:30] ronaldtse commented on #96
@jjr840430, the `security find-certificate` command does not require any UI/password, so the only problem is the client key.

I found the following snippet:
https://gist.github.com/curiousstranger/309035

So if we unlock the keychain before hand, we can obtain the passwords.
[code]

However, macOS doesn't have a way to export a single Key:
* https://stackoverflow.com/questions/20063760/how-do-i-ex

[2017-10-18 16:48] jjr840430 opened #197 "RVD doesn't up OpenVPN connection when selinux was enabled on CentOS."

[2017-10-18 17:37] ronaldtse commented on #141
@jjr840430 now I understand what you mean -- you mean if the OpenVPN routes are conflicting, what we should do?

[2017-10-18 18:07] jjr840430 commented on #141
@ronaldtse Yes, right

[2017-10-18 18:10] ronaldtse commented on #141
Doesn't OpenVPN handle this problem itself?

[2017-10-18 18:13] jjr840430 commented on #141
If two OpenVPN connections are configured to have the default route to each VPN connection, then it will cause the conflicts problem.

[2017-10-20 16:33] jjr840430 commented on #94
If `keychain-item` option is used, then the credentials in original `ovpn` file will be replaced to the credentials which are stored in `keychain`

[2017-11-09 07:40] erikbor opened #199 "Enhancement request for rvc to check for .ovpn files that are not loaded by rvd"
@jjr840430 today we ran into a situation where someone had populated `/opt/rvc/etc/vpn.d` with some `.ovpn` files but the permissions were wrong so `rvd` didn't pick those up. The issue was shown in the log file but we'd like to also show something in `rvc`.

Can you please implement the following:
1. `rvc status` should also list any `.ovpn` files that are not loaded by `rvd` and explicitly show

[2017-11-09 07:47] erikbor opened #200 "Enhancement request: repeat the execution of `pre-exec-cmd` at set intervals"
@jjr840430 could you please implement a `pre-exec-cmd-interval` configuration/function.
The `pre-exec-cmd` should be run again at the defined interval in the `.json` file. The interval is defined in minutes.

E.g.:

`test.json`:
[code]

This will make `rvd` execute `/usr/local/bin/mfa-auth.sh test` every 60 minutes.

This entry should also be shown in `rvc status`. And please implement a check for

[2017-11-09 12:35] jjr840430 commented on #200
@erikbor If `pre-connect-exec` was failed in future execution after connected, then what happened?
Should `rvc` disconnect VPN connection at this case?

[2017-11-10 01:33] erikbor commented on #200
@jjr840430 that's actually a very good question :)

Since the `pre-connect-exec` is used for 2FA/MFA it would make sense to authenticate once and then when it fails to keep the VPN connection open because we cannot know why the  `pre-connect-exec` failed for the second or Nth time. It could be a network error, DNS issue, etc totally unrelated to the VPN itself. So in that case we want to keep the

[2017-11-10 02:58] ronaldtse commented on #200
@erikbor @jjr840430 I think the following would make the most sense:

1. If we are DISCONNECTED, and pre-connect fails, we don't try to connect. We should make it clear in `rvc status` that pre-connect has failed and is therefore rvc is not connecting. If this is an auto-connect connection, we will continue to retry pre-connect (and subsequently connect if it succeeds), at the retry intervals.

2.

[2017-11-13 05:07] jjr840430 commented on #200
@ronaldtse @erikbor This was implemented and merged to master. Can you try to check it? Thanks.

[2017-11-13 07:29] jjr840430 commented on #199
@erikbor This issue was implemented. Can you check it? Thanks.

[2017-11-16 08:09] erikbor opened #204 "sudo rvc reload does not result in a reload"
I had to `kill -9 rvd` for the configuration reload because `rvc reload` did not work. Can you please check this? Thanks

[code]

[2017-11-16 08:13] erikbor opened #205 "swap <connection name> and <option> in rvc"
Hi @jjr840430,

Can you swap the <connection name> and <option> in `rvc` parameters please?

So now we have this:

[code]

This means that when you want to see if the VPN is connecting you need to use the keyboard and go left left left left etc until you reach the `<option>` and backspace it and type in the new option. If the `<option>` is the last parameter then we can just quickly jump to the en

[2017-11-16 18:52] jjr840430 commented on #204
@erikbor I didn't find that bug on my machine. Can you attach log file of `rvd`?
It locates in `/var/log/rvd` directory. Thanks.

[2017-11-16 19:45] jjr840430 commented on #205
@erikbor It's very convenient way, Thanks.
I implemented it by #206

[2017-11-20 00:54] erikbor opened #207 "typo in conf.c"
hi @jjr840430, can you please change the following:

[code]

to:
[code]

[2017-11-20 09:37] #207 closed

[2017-11-26 19:02] ronaldtse opened #209 "Add tests for Travis CI"
@jjr840430 could you help add some tests for Travis?

The pre-auth script currently is running under `root` and failing some pre-auth scripts that depend on the user that is connecting.

The tests should setup an OpenVPN server locally and try to use rvc to connect to it.

[2017-11-27 02:27] erikbor commented on #205
Nice one thanks!!!

[2017-11-27 02:27] #205 closed

[2017-11-27 02:32] erikbor opened #210 "rvc status results in a truncated log entry in rvd.log"
Hi @jjr840430

Running `rvc status` results in the following entry in `/var/log/rvd/rvd.log`:

[code]

There are 8 VPNs configured but the log entry gets truncated at VPN4. Can you please please look into why the truncation takes place? Thanks

[2017-11-27 02:48] erikbor commented on #204
The log shows the reload:

[code]

But I still experience that `rvd` and `rvc` will hang. The following is an example when adding a new VPN:

[code]
I need to kill the `rvd` process for `rvc` to work again after adding the first VPN and sending a reload.

[2017-11-27 02:55] erikbor opened #211 "rvd log files are rotated when `sudo rvc reload`"
`rvd` log files are automatically rotated when `sudo rvc reload`:

[code]

This makes it very hard to troubleshoot because `tail -f` will stop when reloading.

Can you stop the rotation/overwriting when reloading and append to the existing log file? Thanks

[2017-11-27 02:57] erikbor opened #212 "/var/log/rvd/rvd.log.0 is not a useful file"
Hi @jjr840430
It also appears that log rotation doesn't work because `/var/log/rvd/rvd.log` does not end up in `/var/log/rvd/rvd.log.0` when rotated.

The `/var/log/rvd/rvd.log.0` always has a single line in it:

[code]

Can you please look into this? Thanks

[2017-11-27 05:16] jjr840430 commented on #209
@ronaldtse OK, I will try to integrate `rvc` with `travis ci`

[2017-11-27 09:27] erikbor opened #213 "pre-exec-cmd sometimes doesn't work / no output shown"
Hi @jjr840430

I am troubleshooting some RVC problems we're experiencing and one of the issues is that our MFA (for use in `pre-exec-cmd`) scripts not work. I extracted one of the commands from the scripts to see if `rvd` would be able to execute it directly.

The command is `security find-generic-password -a test -s test-vpn -w`:

[code]

`rvd.log`:
[code]

As you can see there is no output logge

[2017-11-28 02:24] erikbor opened #214 "Enhance `rvd` its checking of `DISCONNECTING` and `CONNECTING` mode"
Hi @jjr840430

Sometimes we have the situation that `rvc` shows some VPNs that are stuck in `DISCONNECTING` and `CONNECTING` mode. Can you implement some checking in `rvd` that when a VPN gets into `DISCONNECTING` and `CONNECTING` mode this can't keep in that state forever? E.g. if a VPN cannot connect within 10 seconds (or any other value) then it should go into `DISCONNECTED` mode. Same for `DIS

[2017-11-28 03:27] jjr840430 commented on #214
@erikbor Currently `rvd` has that function.
Can you upload log files for this case?

[2017-11-28 04:33] ronaldtse commented on #214
@jjr840430 I confirm that I'm seeing this issue too.

[2017-11-28 04:36] jjr840430 commented on #214
@ronaldtse Can you upload the log file here?
I just got the issue on my side too. It's from bug related to `pre-exec-cmd`.
I want to check whether your side has the similar issue.

[2017-11-28 04:54] erikbor commented on #214
@jjr840430 I'm sorry we don't have any log files. The behaviour is to unpredictable that we cannot provide a repeatable example + log file.

[2017-11-28 07:50] jjr840430 commented on #214
@erikbor It seems fixed by #215

[2017-11-28 07:51] jjr840430 commented on #213
Fixed by #215

[2017-11-28 07:51] jjr840430 commented on #212
fixed by #215

[2017-11-28 07:51] jjr840430 commented on #210
Fixed by #215

[2017-11-28 07:52] jjr840430 commented on #211
Fixed by #215

[2017-11-28 08:21] ronaldtse commented on #209
## Prerequisites

1. Setup OpenVPN server with local certificate (run in Travis `sudo` mode)
2. Allow OpenVPN client to connect to itself

## Test OpenVPN binary permissions

1. If binary has right permissions, can connect.
2. If binary has wrong permissions, check error message is correct.

## Test RVD config (`rvd.json`) permissions

1. If config permission is right, RVD can start.
2. Otherwise,

[2017-11-28 08:22] jjr840430 commented on #209
@ronaldtse Thanks for your advice.

[2017-12-07 08:32] jjr840430 commented on #209
@ronaldtse The testing cases were implemented in #217 . Please review it and let me know your opinions.
Thanks. Jin.

[2017-12-08 04:21] ronaldtse opened #218 "Do not need "name" attribute in per-connection JSON config"
Today the JSON config per connection is like:

[code]

But the "name" isn't necessary since the filename (`xyz.json`) already contains the name (`xyz`). Currently RVD fails to run when the configuration file fails, like this:

[code]

@jjr840430 Let's get rid of the "name" attribute and use the name from the filename.

Thanks!

[2017-12-08 04:26] jjr840430 commented on #218
@ronaldtse Agreed. I will modify soon.

[2017-12-08 06:59] ronaldtse opened #220 "RVC doesn't "auto-connect" on start"
Even though some connections are listed as "auto-connect: Enabled", they do not auto-connect on start?

@jjr840430 any thoughts?

[2017-12-08 07:01] jjr840430 commented on #220
Those are connected on local testing, but sometimes not working on Travis CI tests. I'm now looking about it.

[2017-12-08 07:03] ronaldtse commented on #220
@jjr840430 but it doesn't auto-connect on my macOS too

[2017-12-08 07:04] jjr840430 commented on #220
Can you send rvd log here?

[2017-12-08 07:11] ronaldtse commented on #220
Here it is.
[rvd.tmp.log](https://github.com/riboseinc/rvc/files/1541787/rvd.tmp.log)

[2017-12-08 07:12] ronaldtse commented on #212
Confirmed.

[2017-12-08 07:12] #212 closed

[2017-12-08 07:17] jjr840430 commented on #220
Can you provide connection name? There are many connections from log.

[2017-12-08 07:17] ronaldtse commented on #213
It works correctly now

[2017-12-08 07:17] #213 closed

[2017-12-08 07:17] ronaldtse commented on #218
Thanks @jjr840430

[2017-12-08 07:20] ronaldtse opened #221 "Version tagging for homebrew installation"
Currently we have to install on homebrew using this:

[code]

Because there is no version tag. @jjr840430 could you help tag versions from now on, so we can make releases?

Then we can do:

[code]

Thanks!

[2017-12-08 07:21] ronaldtse commented on #214
Looks like it. Thanks!

[2017-12-08 07:21] #214 closed

[2017-12-08 07:23] ronaldtse commented on #211
Confirmed.

[2017-12-08 07:23] #211 closed

[2017-12-08 07:23] ronaldtse commented on #210
Confirmed.

[2017-12-08 07:23] #210 closed

[2017-12-08 07:23] ronaldtse commented on #209
Confirmed.

[2017-12-08 07:23] #209 closed

[2017-12-08 07:39] ronaldtse commented on #141
@jjr840430 do we have a solution to this one?

[2017-12-08 07:42] jjr840430 commented on #141
not yet, It would be to check routing conflicts while connecting to each VPN server.
I will try to look about it too.

[2017-12-08 08:44] erikbor commented on #220
@ronaldtse I deleted your post + attachment because it contained IPs.

[2017-12-08 08:58] ronaldtse commented on #220
Darn. I noticed the other problem is that each log line is duplicated. Anyway, basically the flow goes like this:

[code]

[2017-12-08 08:59] ronaldtse commented on #220
Maybe the point is the OpenVPN management console needs to first be active before RVC attempts any connections.

[2017-12-12 07:08] jjr840430 commented on #22
duplicated with #209

[2017-12-12 07:08] #22 closed

[2017-12-12 07:19] ronaldtse opened #224 "Add Travis badge on README page"
Could we also have the Travis status badge on the README? Thanks!

[2017-12-12 07:35] ronaldtse opened #225 "Failing build needs to be fixed"
Failing build:

https://travis-ci.org/riboseinc/rvc/jobs/315216495

[code]

[2017-12-13 02:56] ronaldtse commented on #204
@jjr840430 do we have a test case for this? Would like to close this ASAP. Thanks.

[2017-12-13 02:56] ronaldtse commented on #218
@jjr840430 is this now fixed? Thanks.

[2017-12-13 06:08] jjr840430 commented on #225
Fixed by #226
I removed `cmocka` dependency from CI builds.

[2017-12-13 06:08] #225 closed

[2017-12-13 06:08] jjr840430 commented on #218
@ronaldtse It was fixed. Thanks.

[2017-12-13 06:08] #218 closed

[2017-12-13 06:10] jjr840430 commented on #204
Yes, there was some bug when killing `openvpn` process. I'm closing it.

[2017-12-13 06:10] #204 closed

[2017-12-14 06:55] ronaldtse opened #229 "Add Coverity scan"
https://scan.coverity.com/projects/riboseinc-rvc?tab=overview

@jjr840430  could you help:

1. Add Coverity Scan to RVC just like retrace?
2. Add Coverity Scan badge to README

Thanks!

[2017-12-15 15:09] jjr840430 commented on #229
@ronaldtse When I'm going to access `Project settings` or `Project Overview` on `dashboard` of the Coverity scan, it said `You are not authorized to access this page`.
Can you please check it?

[2017-12-15 15:15] ronaldtse commented on #229
@jjr840430 I've added you as a maintainer. Does it work now?

[2017-12-15 15:17] jjr840430 commented on #229
@ronaldtse It seems working! Thanks. 👍

[2017-12-15 15:54] ronaldtse commented on #229
👍

[2017-12-16 07:32] jjr840430 commented on #229
@ronaldtse Can you register me for the Coverity scan of `retrace`?

[2017-12-16 07:35] ronaldtse commented on #229
Done!

[2017-12-16 08:14] jjr840430 commented on #229
@ronaldtse Can you please review #230 ? Thanks.

[2017-12-16 13:58] ronaldtse commented on #229
Done in #230.

[2017-12-16 13:58] #229 closed

[2017-12-28 15:22] #224 closed

[2017-12-28 15:22] #221 closed

[2018-01-02 06:48] jjr840430 commented on #220
@ronaldtse Do you still have that issue? It seems to be fixed for now.

[2018-01-02 06:49] jjr840430 commented on #142
@ronaldtse Do we need `rvc` to work on Windows platform?

[2018-01-07 08:14] ronaldtse commented on #220
This issue has been resolved with the latest release. Thanks @jjr840430 !

[2018-01-07 08:14] #220 closed

[2018-01-07 08:16] ronaldtse commented on #119
Yes it's working. Sorry for the late update. Thanks!

[2018-01-07 08:16] #119 closed

[2018-01-07 08:17] ronaldtse commented on #101
@jjr840430 would you have time to implement this? This would be useful not only here but also multiple other projects like [retrace](https://github.com/riboseinc/retrace/) 😉

[2018-01-07 10:12] jjr840430 commented on #101
@ronaldtse Thanks, I will implement it and update soon. :)

[2018-01-10 06:15] jjr840430 commented on #101
@ronaldtse May I close this issue?

[2018-01-15 06:45] #200 closed, assigned to jjr840430

[2018-01-15 06:48] ronaldtse commented on #142
@jjr840430 we don't need Windows right now. Thanks.

[2018-01-15 06:49] ronaldtse opened #235 "RVC on CentOS / RHEL should use `systemd`"
Currently the CentOS / RHEL script uses `sysconfig` but should actually use a `systemd` service file.

@jjr840430 could you help port the control script to installing a `systemd` service? Thanks!

[2018-01-15 06:49] ronaldtse commented on #175
@jjr840430 is this completed?

[2018-01-15 06:49] ronaldtse commented on #197
@jjr840430 do we have a fix for this?

[2018-01-15 06:50] ronaldtse commented on #101
Yes, thanks!

[2018-01-15 06:50] #101 closed

[2018-01-15 06:50] jjr840430 commented on #175
@ronaldtse it works on Debian systems, but don't have a script to build the package.

[2018-01-19 03:13] erikbor opened #236 "Modify the json output of `rvc status`"
Hi @jjr840430,

Can you please modify/rearrange the output of `rvc all status --json` to the following structure:

[code]

We want to make it easier to interpret the output of RVC for 3rd party logging/management tooling so the output of RVC needs to be a little bit more structured hence this request.

Thanks!

[2018-01-19 03:15] jjr840430 commented on #236
@erikbor OK, I will modify as you described.

[2018-01-19 04:41] erikbor commented on #236
@jjr840430 please see attached diagram:
![_processevent](https://user-images.githubusercontent.com/25045442/35135141-164d7fca-fd16-11e7-99b2-dcfb76857ea1.png)

[2018-01-19 04:53] jjr840430 commented on #236
ok, thanks, I will update `rvc` to implement it.

[2018-01-22 06:14] jjr840430 commented on #236
@erikbor Can you check the following `JSON` example?

RvdConnections: [
	{
		"name": "vpn1",
		"profile": "/opt/rvc/etc/vpn.d/vpn1.ovpn",
		"autoConnect": 1,

		"assignedIp": {
			"address": "10.10.10.1",
			"netmask": 32
		},

		"endpointIp": {
			"address": "172.16.0.101",
			"netmask": 16
		},

		"protocol": "udp",
		"ipVersion": 4,
		"port": 1194,

		"RvdConnectionStatus": {
			"state": "CONNE

[2018-01-24 08:34] jjr840430 commented on #236
@erikbor Can you clarify what's mean `endpoint` and `endpointIp` fields?

[2018-01-24 08:35] erikbor commented on #236
@jjr840430 The `endpoint` is the VPN server that is configured in the .json, and the `endpointIp` should be the actual IP `rvd` is connected to.

This for logging purposes so we can track to which IP the client was connected at a particular time.

[2018-01-24 08:39] jjr840430 commented on #236
Do we need to specify `netmask`?
When specifying the address of openvpn server, `netmask` isn't involved.
Also, `assignedIp` field is valid only when VPN connection was established.

[2018-01-24 08:47] erikbor commented on #236
`netmask` can be `/32` for IPv4 and `/128` for IPv6

Yeah correct about the `assignedIp`, same goes for `endpointIp` etc.

[2018-01-24 08:48] jjr840430 commented on #236
May I have your Skype?

[2018-01-31 04:59] jjr840430 commented on #236
@erikbor Can you please review #237 ?

[2018-02-01 05:54] #236 closed

[2018-02-01 10:05] #235 closed

[2018-02-01 10:14] #142 closed

[2018-02-01 10:15] #140 closed

[2018-04-02 14:13] ronaldtse opened #239 "Replace configuration functions (configuration file, command line arguments) with libnereon"
Related to https://github.com/riboseinc/kaohi/issues/14

This issue is to extract out all configuration related code into a new library, according to https://github.com/riboseinc/event-configuration-models .

This will allow RVC/RVD to take advantage of the ConfigScheme model, autogenerate help output, parse command line options, environment variables, and config files.

[2018-04-03 08:50] ronaldtse commented on #236
For the record, the event model is located at https://github.com/riboseinc/event-configuration-models with the specific RVC/RVD one at https://github.com/riboseinc/event-configuration-models#example-rvcrvd

[2018-05-23 08:29] jjr840430 commented on #239
@ronaldtse, @erikbor

Here are the RVD/RVC configurations for `libnereon`:

- [rvd.mel](https://github.com/riboseinc/rvc/blob/v1.2.0/etc/rvd.mel)
- [rvd.conf](https://github.com/riboseinc/rvc/blob/v1.2.0/etc/rvd.conf)
- [rvc.mel](https://github.com/riboseinc/rvc/blob/v1.2.0/etc/rvc.mel)

Can you please review them and let me know your thoughts about them?

[2018-05-23 08:34] erikbor commented on #239
Hi @jjr840430,

Looks good. Can you change the following please:

s/globals/global
s/goes daemon/daemonize
s/"Override DNS settings.(sudo required)""/"Override DNS settings (sudo required)"
s/Print Help message/Print help message
s/Restrict the access to communication socket/Restrict access to communication socket

Cheers

[2018-05-23 08:44] jjr840430 commented on #239
@erikbor Thanks for your advise, I fixed and updated.

[2018-05-24 17:21] ronaldtse commented on #239
The idea behind the new file extensions are shown here: https://github.com/riboseinc/nereon

[2018-05-26 13:09] ronaldtse commented on #239
@jjr840430 we will also need to allow setting configuration of the existing configuration -- maybe we need a conversion script to convert JSON into NOC? What do you think?

[2018-05-26 13:26] jjr840430 commented on #239
@ronaldtse That's a great idea. I will create the script to convert JSON into NOC.

[2018-06-26 02:48] jjr840430 commented on #239
@ronaldtse Fixed by #241

[2018-06-26 02:48] #239 closed

[2018-07-02 07:58] ronaldtse opened #242 "Update documentation for Nereon config files, no longer JSON"
The latest RVC 1.2.0 uses Nereon rather than JSON configuration. We need to update all the instances in the README.

[2018-07-05 06:51] ronaldtse commented on #242
@jjr840430 could you help update the README? How does one configure say `/opt/rvc/vpn.d/my-vpn-connection.conf` ?

[2018-07-05 08:17] ronaldtse opened #245 "Unable to use NOC syntax for /etc/rvd.conf"
My install is from homebrew-rvc.

My `/opt/rvc/etc/rvd.conf`

[code]

When I start `rvd` with it I get this:
[code]

[2018-07-05 08:18] ronaldtse commented on #245
The content of the `/opt/rvc/etc/rvd.conf` file is almost identical as https://github.com/riboseinc/rvc/blob/master/etc/rvd.conf.in .

[2018-07-14 07:26] ronaldtse opened #247 "RVC build fails in homebrew"
[code]

[2018-07-15 02:01] jjr840430 commented on #247
@ronaldtse It works without any issue on my machine.
It seems that you have installed `nereon` from the old source, not from `homebrew`
Can you please uninstall `nereon` and try again?

[code]

[2018-07-15 11:55] ronaldtse opened #248 "Update RVC to change `config-status: JSON configuration exists`"
We don't use JSON config but now use NOC config syntax.

[2018-07-15 11:59] ronaldtse opened #249 "`rvc` binary should use NOS configuration syntax"
This is for defining command syntax and their arguments also.

[2018-07-16 02:25] #247 closed, assigned to jjr840430

[2018-07-16 07:51] erikbor commented on #248
Hi @jjr840430,

Can you also update the `README` to remove all instances of json. Thanks!

[2018-07-16 08:02] jjr840430 commented on #248
@erikbor I will remove all JSON instances on next pull request. Thanks!

[2018-07-19 16:45] jjr840430 commented on #249
@ronaldtse Fixed by #250

[2018-07-19 16:46] jjr840430 commented on #248
@erikbor Fixed by #250

[2018-07-19 17:47] jjr840430 commented on #245
@ronaldtse Fixed by #250

[2018-07-25 12:46] #249 closed

[2018-07-25 12:47] #248 closed

[2018-07-25 12:47] #245 closed

[2018-07-25 12:47] jjr840430 commented on #242
fixed by #250

[2018-07-25 12:47] #242 closed

[2018-08-31 02:55] PeterTKY opened #251 ""Couldn't to connect to rvd(err:13)" when using non-root user"
After I installed rvc (osx High Sierra) following the instructions (tried both brew install and build from the repo), it simply couldn't connect to rvd giving out an error message:

Am I missing anything?

[2018-08-31 03:04] ronaldtse commented on #251
1. It sounds like RVD isn’t running. Can you “ps aux” to check?

2. Check also if RVD actually can be run by itself because the configuration syntax has changed to Nereon format.

3. Remember RVD has to be run as root, so ensure that you’ve run the necessary scripts as displayed by brew install. (And do not manually install because it is quite complicated to get all the details right)

[2018-08-31 03:07] PeterTKY commented on #251
1.

peter_tam        15027   0.0  0.0  4258468    188 s000  R+   11:05AM   0:00.00 grep rvc
root             14832   0.0  0.0  4336384   1420   ??  Ss   10:50AM   0:00.69 /opt/rvc/bin/rvd

peter_tam        15041   0.0  0.0  4267768    892 s000  S+   11:06AM   0:00.00 grep rvd
root             14832   0.0  0.0  4336384   1420   ??  Ss   10:50AM   0:00.73 /opt/rvc/bin/rvd

2. No idea of how to check

[2018-08-31 03:53] PeterTKY commented on #251
RVC works as long as I run `sudo rvc status all` rather than `rvc status all`.

`rvc status all`:
[code]

`sudo rvc status all`:
[code]

@jjr840430 could you help fix this?

[2018-08-31 04:13] PeterTKY opened #252 "Installation fails for macOS users with user id not `501`"
My user account "me" is user ID 502. However, when I cleanly run `brew install rvc`, the "/usr/local/etc/rvd.conf" file gives `user_id = 501` regardless.

The `sudo /usr/local/bin/rvc_install.sh` script is unable to replace the correct User ID because the string `@RVC_USER_ID@` is not present in "/usr/local/etc/rvd.conf"

When I inserted `echo`s in the install script I can see that the `$SUDO_UID`

[2018-08-31 04:14] PeterTKY commented on #251
Superseded by https://github.com/riboseinc/rvc/issues/252.

[2018-08-31 04:14] #251 closed

[2018-08-31 04:24] PeterTKY opened #253 "`rvc status` should equal to `rvc status all`"
Right now:

Failed to parse command line(err:Missing argument for switch 'status')
Usage: rvc [options]
    connect         <all|connection name>                                        : connect to a VPN with given name (default:all)
    disconnect      <all|connection name>                                        : disconnect VPN with given name (default:all)
    reconnect       <all|connection na

[2018-09-10 13:51] jjr840430 commented on #253
@PeterTKY, I removed `default:all` from NOS options. Please check [here]<https://github.com/riboseinc/rvc/pull/254>

[2018-09-10 13:58] #253 closed

[2018-09-10 14:14] ronaldtse commented on #253
@jjr840430 is it possible to add back `default:all`? Thanks.

[2018-09-11 03:38] jjr840430 commented on #253
@ronaldtse Here is the example of how to apply subcommand:

[code]

`edit` command line switch has the arguments such as `auto-connect`, `pre-exec-cmd`, 'profile', and those arguments also may have sub-arguments.
Now `libnereon` implemented that function.

[2018-09-13 12:56] strogonoff opened #255 "Set up RVC open project site"
RVC looks like a very useful piece of software; shall we have an Open Project site set up for it after Nereon’s?

We could get getrvc.com for example. Once we know the domain, I can create the repo for the site.

[2018-09-13 12:56] strogonoff commented on #255
(cc @ronaldtse)

[2018-09-13 16:37] ronaldtse commented on #255
Great idea. In addition, perhaps it's time to rename RVC to something more brandable?

This is @opoudjis 's domain. I'd say the keywords of RVC are: "manage, protect secret communication tunnels"

[2018-09-14 13:56] strogonoff commented on #255
@ronaldtse  We could be picky about the name… or not, depending on whether the scale of this initiative warrants it.

If your suggestion to rename RVC stems purely from domain unavailability, I’d point out that “getX.com” is a common workaround used by the likes of getpocket.com and many more (I believe it used to be getdropbox.com even, back in the days!)

[2018-09-18 12:14] jjr840430 opened #256 "Implement new NOS syntax for rvc and rvd"
Refer [here](https://github.com/riboseinc/nereon-syntax/issues/8)

[2018-09-18 12:29] jjr840430 commented on #256
@ronaldtse Can you create LICENSE in this repo?
It seems I don't have permission to do it. Thanks!

[2018-09-18 13:13] jjr840430 commented on #256
@ronaldtse @drystone

I updated NOS configurations for `rvc` and `rvd`.
Here are the links to them.

https://github.com/riboseinc/rvc/blob/v1.2.4/doc/rvc.nos
https://github.com/riboseinc/rvc/blob/v1.2.4/doc/rvd.nos
https://github.com/riboseinc/rvc/blob/v1.2.4/etc/rvd.conf.in

Please let me know your thoughts. Thanks!

[2018-09-19 12:11] jjr840430 commented on #256
@drystone Thanks for your comments. I will check them and update to you. :)

[2018-11-05 06:20] ronaldtse commented on #255
@strogonoff I have not forgotten this, I will revert with a name soon. 😉

[2018-11-05 12:58] strogonoff commented on #255
Got it!

[2018-11-06 03:04] ronaldtse commented on #255
So it's going to be cryptode.com

Cryptode: in Greek "crypt-" means hidden, "-ode" means path. So Cryptode protects you using a hidden path.

[2018-11-06 10:46] strogonoff commented on #255
Setting up under https://github.com/riboseinc/cryptode.com

[2018-11-06 11:13] strogonoff opened #257 "Move documentation into under `/docs` for RO integration"
Currently there’re `/README.adoc` and `/doc/README.md`; once we unify this under `/docs/` with the requisite navigation file it’ll both work on GitHub (which picks up on `/docs/README`) and on Cryptode’s Ribose Open project site.

[2018-11-06 11:13] strogonoff commented on #257
(I want to assign it to myself but I can’t)

[2018-11-06 11:14] strogonoff opened #258 "Rename RVC to Cryptode in documentation"

[2018-11-07 10:48] strogonoff commented on #255
Note: site builds as of yesterday with the same Rakefile/.travis.yml as other OP sites, but I’m assuming CI for the cryptode.com repo is not yet set up elsewhere (Travis/AWS/GitHub) as the production domain is not available at the moment.

[2018-11-07 10:52] ronaldtse commented on #255
@strogonoff as of now the repo doesn't have a `.travis.yml` file, so Travis can't run yet?

In any case the domain infra is not yet available; it will be a couple more days. I will update here.

[2018-11-07 12:48] strogonoff commented on #255
@ronaldtse indeed, forgot to add .travis.yml, fixed now.

[2018-11-07 13:38] ronaldtse commented on #255
Thanks @strogonoff , perhaps you could also add the typical README too?

[2018-11-07 13:42] strogonoff commented on #255
sure, at least that doesn’t break the build 😉

[2018-11-07 14:03] ronaldtse commented on #255
Ha! I was actually thinking of the Travis build link on the README 😉

[2018-11-07 14:06] ronaldtse opened #259 "Rename all code to reflect new name Cryptode"
* Product name "RVC" => "Cryptode", "rvc" => "cryptode"
* Command line / process "rvc" => "cryptode"
* Command line / process "rvd" => "cryptoded"

Thanks @jjr840430 !

[2018-11-07 14:33] strogonoff commented on #255
Haha yeah a build could validate the README😂  If test specs are detailed enough, the README itself can even be inferred based on a template

I treat it as less of a priority in these cases since sites aren’t intended to be collaborated on as much as the actual software, but of course everything gets better with the [right] README

[2018-12-16 15:19] ronaldtse opened #261 "Build failing"
The Travis build is now failing. @jjr840430 would you have time to fix it? Thanks!

[2018-12-17 17:06] jjr840430 commented on #261
Fixed by #262

[2018-12-17 17:07] jjr840430 commented on #259
Fixed by #262

[2018-12-17 17:09] #261 closed

[2018-12-17 17:13] #259 closed

[2018-12-17 17:15] ronaldtse commented on #255
Closing now.

[2018-12-17 17:15] #255 closed

[2018-12-17 17:20] ronaldtse commented on #257
@strogonoff I'm not entirely sure what has to be done here. Can you do a PR for this?

[2018-12-17 18:45] jjr840430 opened #263 "Added script to build OpenVPN profiles during CI testing"

[2018-12-17 18:46] jjr840430 commented on #263
See #262

[2018-12-18 01:39] strogonoff commented on #257
Sure. It’s possible that I made it as a reminder for myself but did not assign.

[2019-03-31 19:47] strogonoff opened #264 "Does Cryptode work under Mojave?"
For the purposes of keeping Cryptode.com up-to-date, does it work on macOS Mojave?

I can test it myself, but in case someone has the answer now I’ll change the introductory phrasing in README and, more importantly, on the updated (going live today) site.

[2019-03-31 23:03] ronaldtse commented on #264
Yes, I’m using it on Mojave.

[2019-04-01 00:18] #264 closed

[2020-05-06 09:17] ribose-jeffreylau opened #265 "Build issues with OpenSSL@1.1.x"
### Problem description

Building cryptode would fail with the following error:

[code]

### Steps to reproduce

1. Run `brew install cryptode`
2. See error

### Environments

. OS version: macOS 10.14.6

### Full trace

<details>

<summary>
Click to expand
</summary>

[code]
</details>

[2020-05-06 09:20] ribose-jeffreylau commented on #265
Related issues in other places:

https://github.com/tholu/homebrew-tap/issues/8

[2020-05-14 15:22] ronaldtse commented on #258
This should be all done. Closing.

[2020-05-14 15:22] #258 closed

[2020-05-14 15:23] ronaldtse opened #266 "Move to GitHub Actions"
Remove Travis.

[2020-05-14 15:24] ronaldtse opened #267 "Auto-release Cryptode using GHA"
See https://github.com/metanorma/mn2pdf/blob/master/.github/workflows/release.yml for example.

[2020-05-14 15:28] ronaldtse opened #268 "Update to work with latest OpenVPN"

[2020-05-14 15:28] ronaldtse opened #269 "Update to work on Catalina (macOS 10.15)"